#cn-class-admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  #cn-class-details {
    flex-basis: 300px;
  }

  #cn-admin-weight-table {
    @include shadow-box;
    min-width: 200px;

    #cn-admin-weight-table-content {
      @include shadow-box-content;

      .cn-admin-weight-table-title {
        @include shadow-box-title;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: $unit-space;
      }
    }
  }

  #cn-admin-assignment-table {
    @include shadow-box;

    #cn-admin-assignment-table-content {
      @include shadow-box-content;

      .cn-admin-assignment-table-title {
        @include shadow-box-title;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: $unit-space;
      }
    }
  }
}