

.cn-class-approval-container {

  h5 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .professor-classes {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(160, 160, 160);
    max-height: 50vh;
    overflow: auto;
    padding: 10px;
  }
}
