.cn-class-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .cn-class-list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80px;
    border: 1px solid $cn-color-grey;
    border-radius: 5px;

    .cn-class-list-row-icon-container {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid $cn-color-grey;
      padding: 3px;
      width: 80px;

      .cn-class-list-row-icon {
        font-size: 30px;
        margin-bottom: 3px;
      }
      
      .cn-class-list-row-icon-text{
        font-size: 14px;
      }

      .cn-class-list-row-grade-text {
        font-size: 22px;
      }
    }

    .cn-class-list-row-data {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .cn-class-list-row-col {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: $unit-space/2;

        .cn-class-list-title {
          font-size: 20px;
          font-weight: 700;
        }

        .cn-class-list-text {
          font-size: 16px;
        }

        .cn-class-list-subtext {
          font-size: 14px;
        }

        .cn-class-list-flex-bottom {
          justify-self: flex-end;
        }

        .cn-class-list-flex-top {
          justify-self: flex-start;
        }

      }
    }

    .cn-class-list-text-right {
      text-align: right;
    }
  }

  .cn-class-list-row:hover {
    cursor: pointer;
    background-color: $cn-color-hover-grey;
  }
} 