.cn-class-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .cn-class-list-empty-message {
    padding: 1rem;
    color: rgba(0,0,0,0.30);
    text-align: center;
  }

  .cn-class-list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 64px;
    border: 1px solid $cn-color-grey;
    border-radius: 5px;
    overflow: hidden;

    .cn-class-list-row-icon-container {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid $cn-color-grey;
      padding: 3px;
      flex-basis: 0 0 64px;
      min-width: 64px;
      height: 64px;

      .cn-class-list-row-icon-img {
        max-width: 45px;
        max-height: 45px;
        margin: 8px 0;
      }

      .cn-class-list-row-icon {
        font-size: 30px;
        margin-bottom: 3px;
      }
      
      .cn-class-list-row-icon-text{
        font-size: 14px;
      }

      .cn-class-list-row-grade-text {
        font-size: 25px;
        color: white;
      }
    }

    .cn-class-list-row-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 1 100%;
      min-width: 0;
      height: 64px;

      .cn-class-list-row-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        // padding: $unit-space/2;
        min-width: 0;
        padding: 8px;

        .cn-class-list-status-us {
          font-weight: 600;
          color: $sk-alert-red;
        }

        .cn-class-list-status-sir {
          font-weight: 600;
          color: $cn-color-grey;
        }

        .cn-class-list-status-nsi {
          font-weight: 600;
          color: $sk-alert-orange;
        }

        .cn-class-list-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 20px;
          font-weight: 700;
          min-width: 0;
          margin: 0;
        }

        .cn-class-list-text {
          font-size: 16px;
          min-width: 0;
        }

        .cn-class-list-subtext {
          font-size: 14px;
          min-width: 0;
          margin: 0;
        }

        .cn-class-list-subtext-completion {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          margin: 4px 0 0 -2px;
        }

        .cn-class-list-flex-bottom {
          justify-self: flex-end;
        }

        .cn-class-list-flex-top {
          justify-self: flex-start;
        }

      }
    }

    .cn-class-list-text-right {
      text-align: right;
    }
  }

  .cn-class-list-row:hover {
    cursor: pointer;
    background-color: $cn-color-hover-grey;
  }
} 