.class-form-field {
  display: flex;
  width: 100%;

  .cn-meeting-time-slider {
    min-width: 200px;
  }

  > .form-element {
    width: 100%;
  }

  > .cn-input-container {
    width: 100%;
  }
}

#meeting-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}