.cn-diy-landing-container {
  @include center-viewport-content-container-internal;
  align-self: center;
  padding: 50px;

  .content-container {
    justify-content: center;

    .info {
      font-size: 0.8em;
    }
  }
}
