.cn-diy-landing-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  justify-content: center;
  padding: 50px;

  .content-container {
    justify-content: center;

    .info {
      font-size: 0.8em;
    }
  }
}
