.cn-enrollment-link-container {
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;

  .cn-enrollment-link-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: calc(100vh - 86.3px);
    max-width: 1000px;
    margin: 0 auto;

    .cn-enrollment-link-content-inner {
      width: 382px;
      font-size: 14px;

      .cn-enrollment-link-msg {
        font-weight: bold;
        font-size: 36px;
      }
    }

    .cn-enrollment-link-pic {
      width: 100%;
    }

    .cn-create-account-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cn-create-account-header {
        font-weight: bold;
        font-size: 36px;
        align-self: flex-start;
      }

      .cn-create-account-subheader {
        font-size: 14px;
        align-self: flex-start;
      }

      .cn-create-account-login {
        text-decoration: underline;
      }
    }
  }
}