.cn-find-classes-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cn-find-classes-content {
    width: 382px;

    .cn-find-classes-header {
      h2 {
        font-size: 36px;
        margin-bottom: $unit-space / 2;
      }

      p {
        margin: 0;
        font-size: 14px;
      }
    }

    .cn-find-classes-field {
      margin-top: $unit-space;

      .cn-find-classes-label {
        @include form-label;
        font-weight: normal;
        margin-top: $unit-space;
      }

      .cn-find-classes-disabled-label {
        @include form-label;
        height: 14px;
        width: 50%;
        background-color: $cn-color-grey;
        border-radius: 3px;
      }

      .cn-find-classes-disabled {
        height: 32px;
        background-color: $cn-color-grey;
        border-radius: 3px;
      }
    }
  }
}