.cn-forgot-password-container {
  @include center-viewport-content-container;

  .content-landing {
    @include center-viewport-content-narrow;
    text-align: center;
    transform: translate(0, -25%);

    .login-button {
      margin-top: 5px;
    }
  }
}
