.jobs-home {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .jobs-home-column {
    display: flex;
    flex-direction: column;

    .jobs-home-cell {
      @include skoller-cell;
      margin: 0.5rem;
      padding: 1rem;
      max-width: 464px;
      width: 360px;
  
      .jobs-home-cell-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
  
        h1 {
          margin: 0;
          cursor: pointer;
          width: 100%;
        }
  
        .jobs-home-cell-subheading {
          position: absolute;
          top: -4px;
          right: 8px;
        }
      }
  
      .jobs-home-strength {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 8px;
      }

      .jobs-home-button {
        @include sk-jobs-button;
      }
    }
  }
}