.jobs-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 0.5rem;
  margin: 1rem 1rem 1rem 1rem;
  min-height: calc(100vh - 64px - 2rem);

  p {
    margin: 0;
  }

  b {
    color: $sk-jobs-dark-green;
  }

  a {
    color: $sk-jobs-dark-green;
  }

  .jobs-profile {
    // margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
  
    .jobs-profile-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .jobs-profile-header-content {
        @include skoller-cell;
        max-width: calc(780px - 1rem);
        margin: 0 0 0.5rem 0;
        width: 100%;
        position: relative;

        @media only screen and (max-width: 995px) {
          max-width: 500px;
        }

        .jobs-profile-header-row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          width: auto;

          > * {
            width: 50%;
          }
  
          img {
            margin: 1rem;
          }
  
          h1, h2, p {
            margin: 0;
          }

          @media only screen and (max-width: 995px) {
            flex-direction: column;
            align-items: flex-start;
            margin: 1rem 0 0 0;

            > * {
              width: auto;
            }
          }

          .jobs-profile-header-score-container {
            display: flex;
            flex-direction: row;
            align-items: right;
            text-align: right;
            justify-content: flex-end;

            .jobs-profile-header-score-text {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              text-align: right;
              justify-content: center;

              @media only screen and (max-width: 995px) {
                text-align: left;
                align-items: flex-start;
              }
            }

            @media only screen and (max-width: 995px) {
              flex-direction: row-reverse;
            }
          }
        }

        .jobs-profile-header-add-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          @include sk-jobs-button;
          margin: 0 0 1rem 0;

          p {
            width: 230px;
          }
        }

        .jobs-profile-header-settings {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0px 1rem 8px 8px;
          color: $sk-jobs-dark-green;
          font-size: 30px;
          cursor: pointer;
        }
      }
    }

    .jobs-profile-column {
      display: flex;
      flex-direction: column;
      align-items: center;

      .jobs-profile-block {
        @include skoller-cell;
        margin: 0.5rem;
        padding: 1rem 1rem 0.5rem 1rem;
        box-sizing: border-box;
        width: 244px;

        @media only screen and (max-width: 751px) {
          width: 100%;
          box-sizing: border-box;
        }
    
        .jobs-profile-block-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          
          .jobs-profile-block-header-title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            position: relative;
    
            h2 {
              margin: -2px 0 0 0;
            }
          }
    
          .jobs-profile-block-settings {
            cursor: pointer;
            color: $sk-jobs-light-green;
            margin: -16px 0 0 8px;
            font-size: 30px;
          }
        }
    
        .jobs-profile-block-content {
          .jobs-profile-block-row {
            margin: 0.5rem 0;

            .jobs-profile-add-button {
              @include sk-jobs-button;
            }
          }
        }
      }
    }
  }
}
