.jobs-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;

  p {
    margin: 0;
  }

  .jobs-profile {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
  
    .jobs-profile-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      .jobs-profile-header-content {
        @include skoller-cell;
        max-width: calc(780px - 1rem);
        margin: 0 0 0.5rem 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
          margin: 1rem;
        }

        h1, h2, p {
          margin: 0;
        }
      }
    }

    .jobs-profile-column {
      display: flex;
      flex-direction: column;

      .jobs-profile-block {
        @include skoller-cell;
        margin: 0.5rem;
        padding: 1rem 1rem 0.5rem 1rem;
        width: 244px;
    
        .jobs-profile-block-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          
          .jobs-profile-block-header-title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            position: relative;
    
            h2 {
              margin: -2px 0 0 0;
            }
          }
    
          .jobs-profile-block-settings {
            cursor: pointer;
            color: $cn-color-green;
            margin: -16px 0 0 8px;
            font-size: 30px;
          }
        }
    
        .jobs-profile-block-content {
          .jobs-profile-block-row {
            margin: 0.5rem 0;

            .jobs-profile-add-button {
              @include sk-jobs-button;
            }
          }
        }
      }
    }
  }
}
