.cn-landing-navbar {

  @include breakpoint(medium) {
    @include navbar();
    height: auto;
    display: block;
  }

  .cn-navbar-content {
    flex-direction: column;
    margin: 0 auto;
    @include breakpoint(medium) {
      width: 100%;
      max-width: 1000px;
      display: flex;
      flex-direction: row;
    }

    h1 {
      @include reset-box-model;
      flex: 1;
    }

    .logo {
      display: block;
      height: 3rem;
      margin-top: 5px;
      margin-left: 5px;

      @include breakpoint(medium) {
        display: inline-block;
        height: 2.5rem;
        margin: .6rem 0 0 0;
        width: auto;
      }
    }
  }

  .form-login {
    display: none;

    @include breakpoint(medium) {
      display: flex;
      flex-direction: row;
      margin: .8rem 0 0 0;
      justify-content: flex-end;
    }

    .form-control {
      margin: 0 0 .5rem 0;

      @include breakpoint(medium) {
        margin: 0 .5rem;
      }

      input {
        margin-top: 0;
      }
    }

    .button {
      height: 2rem;
      padding: .5rem 1rem;
      line-height: 1.25;
    }

    .forgot-password {
      font-size: .7em;
      margin-top: .25em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
