$h2-size: 3.5em;

@mixin row {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  width: 100%;

  @include breakpoint(medium) {
    max-width: 96%;
  }
}

@mixin landing-row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.cn-landing-container {
  h2 {
    font-size: $h2-size;
    margin: 0;
    padding: 0;
  }

  .container-promo-signup {
    @include row;
    @include landing-row;

    .video {
      @include fluid-width-embed;
      border-radius: $cn-border-radius;
      overflow: hidden;
      width: 80%;
    }

    .container-form-register {
      @include breakpoint(medium) {
        padding-left: 3rem;
      }
    }
  }

  .cn-navbar {
    img {
      display: none;

      @include breakpoint(medium) {
        display: inline-block;
      }
    }

    // deprecate
    .form-login {
      align-items: center;
      display: flex;
      float: none;
      justify-content: center;

      @include breakpoint(medium) {
       float: right;
       justify-content: none;
      }
    }
  }

  #sign-up-form {
    .facebook-button {
      @include button;
      align-items: center;
      background-color: white;
      border: 1px solid #CCC;
      display: flex;
      justify-content: center;

      i {
        color: #3b5998;
        font-size: 1em;
        margin-right: 0.5em;
      }

      span {
        font-size: 0.75em;
        color: grey;
      }
    }

    .school-info {
      font-size: 11px;
    }
  }

  .forgot-password {
    font-size: 11px;
    margin-top: 1px;
  }
}

// slants
.slants{
  background-color: $cn-primary-background-color;
  height: 7vh;
  width: 100%;

  &.slant-inverse{
    transform: scale(-1);
  }

  &.no-bg{
    background-color: transparent;
  }
}

.white-fill{
  fill: $cn-primary-background-color;
}


// text
.section-tagline {
  font-size: 1.5em;
}

.section-header {
  width: 85%;
  margin: 0 auto;
}

.blue-section-text {
  color: $cn-color-white;
}

.muted-text {
  color: $cn-color-grey;
  font-size: 0.95em;
}

.blue-text {
  color: $cn-color-blue;
}

.paragraph-spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link-on-blue {
  color: white;
}

///////////////////////

// section scheming

.form-padding {
  width: 95%;
  margin: 0 auto;
}

.form-button {
  width: 98%;
}

.section-topper {
  font-size: 2.5em;
  display: block;
  font-weight: bold;
  padding: 25px 0;

}

.section-dimensions {
  width: 100%;
}

.even-section {
  background-color: $cn-color-blue;
}

.odd-section {
  background-color: $cn-primary-background-color;
}

.section-padding {
  padding: 0 5%;
}

.signup-plea {
  padding-bottom: 16px;
  margin-bottom: 0px;
}

.shift-up {
  margin-top: -7vh;
}

//////////////////

// image sizing
.purpose_image {
  height: 50%;
  width: 100%;
}

.process-icon-size {
  height:96px;
  width:96px;
}

.highlights-images {
  width:90%;
}

.twin-image-div {
  position: relative;
}
.twin-image {
  width:50%;
}

.twin-image-top {
  position: absolute;
  right: 20%;
}

// speech bubbles - cleaned **

.invert {
  transform: scaleY(-1);
}

.speech-bubble {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  border: solid white;
  background: $cn-color-blue;
  margin: 10px 0;

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: -26px;
    left: 13px;
    width: 0;
    height: 0;
    transform: rotate(-90deg);
    border-top: 26px solid transparent;
    border-right: 26px solid white;
    border-bottom: 0px solid transparent;
  }

  .triangle-inner {
    &:before {
      content: "";
      position: absolute;
      right: 100%;
      bottom: -20px;
      left: 17px;
      width: 0;
      height: 0;
      transform: rotate(-90deg);
      border-top: 20px solid transparent;
      border-right: 20px solid $cn-color-blue;
      border-bottom: 0px solid transparent;
    }
  }
}
