$h2-size: 3em;
$h2-size-sm: 36px;

@mixin row {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @include breakpoint(medium) {
    flex-direction: row;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin section-header-alt {
  text-align: center;
  font-size: $h2-size-sm;
  margin: 0 auto 2rem;

  @include breakpoint(medium) {
    font-size: 2.5em;
    margin-bottom: 4rem;
  }
}

@keyframes fade1 {
  3% { opacity: 1 }
  30% { opacity: 1 }
  36% { opacity: 0 }
  97% { opacity: 0 }
  100% { opacity: 1}
}
@keyframes fade2 {
  0% { opacity: 0 }
  30% { opacity: 0 }
  36% { opacity: 1 }
  63% { opacity: 1}
  69% { opacity: 0}
  100% { opacity: 0 }
}

@keyframes fade3 {
  3% { opacity: 0 }
  63% { opacity: 0 }
  69% { opacity: 1 }
  97% { opacity: 1 }
  100% { opacity: 0 }
}

// Styles ------------------------
.cn-landing-wrapper {
  height: 100%;

  .cn-landing-container {
    overflow-x: hidden;
    background-color: #EDFAFF;
    background-image: linear-gradient($cn-color-blue, $cn-color-blue-25);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 100%;
    min-height: calc(100vh - 69px - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @include breakpoint(medium) {
      background-position: 0 0;
    }
  
    .cn-landing-button{
      min-width: 200px;
    }
  
    .cn-landing-content-wrapper{
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
      height: 100%;
    
      .cn-landing-content{
        @include breakpoint(medium) {
          flex-direction: row;
        }
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;


        .cn-landing-image-container {
          width: 100%;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include breakpoint(medium) {
            width: 60%;
            margin-top: 7px;
          }

          .cn-landing-image {
            height: 256px;
            width: calc(100vw - 2rem);
            max-width: 512px;
            padding: 0 1rem;
            margin: -1rem 0 -2rem 0;

            @include breakpoint(medium) {
              width: 100%;
            }
          }

          .cn-learn-more {
            font-weight: 300;
            text-align: center;
            width: 90%;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 24px;

            @include breakpoint(medium) {
              width: 100%;
            }

            p {
              font-size: 18px;
              margin: 0 0 1rem 0;
            }
          }
        }
      }
    }
  }
  
  .muted-text { color: $cn-color-grey; }
  
  .blue-text { color: $cn-color-blue; }
    
}
