@mixin landing-nav-parent {
  position: relative;
  min-height: 100vh;

  @include breakpoint(medium) {
    padding-bottom: 69px;
  }
}

.cn-landing-footer {
  background: $cn-color-white;
  color: $cn-color-grey;
  width: 100%;
  font-size: 1em;
  padding: 1rem;
  text-align: center;
  z-index: 1;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 15px;
  box-shadow: 0px -10px 25px rgba(0,0,0,.10);

  @include breakpoint(medium) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    height: 69px;
    text-align: left;
    position: absolute !important;
    bottom: 0;
  }

  .footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    @include breakpoint(medium) {
      flex-direction: row;
      width: 100%;
      max-width: 1000px;
      align-items: center;
    }

    .footer-link {
      margin-top: 10px;
      @include breakpoint(medium) {
        margin: 0;
      }
    }
  }
}