.cn-meeting-time-container {
  .cn-meeting-time-header {
    text-align: center;
    margin-bottom: $unit-space;
    font-weight: 500;
    font-size: 18px;
  }

  .cn-meeting-time-label {
    @include form-label;
    font-weight: normal;
    margin-top: $unit-space;
  }

  .cn-meeting-time-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .cn-meeting-times {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: baseline;

    .cn-meeting-time {
      max-width: 36px;
      font-weight: bold;
    }

    .cn-meeting-time-select {
      max-width: 60px;
      position: relative;

      // remove browser dropdown arrow and use custom class to add dropdown arrow
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      select::-ms-expand {
        display: none;
      }

      &::after {
        content: "";
        border-top: 0.3em solid $cn-color-blue;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        position: absolute;
        top: 45%;
        right: 10px;
      }
    }
  }
}