.cn-onboarding-container {
  @include center-viewport-content-container;
  padding: 50px;
  height: calc(100vh - 64px);
  width: 100%;
  @include breakpoint(large) {
    width: 70%;
    margin: 0 auto;
  }

  .cn-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .cn-header {
      display: flex;
      flex-direction: column;
      // flex: 0;

      h2 {
        margin-bottom: 0;
      }
    }

    .cn-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;

      .cn-table-grid-container {
        overflow-y: scroll;
      }
    }

    .cn-footer {
      display: flex;
      flex-direction: column;
      flex: 0;
    }
  }

  .cn-verification-container {
    width: 100%;
    .img-container {
      align-items: center;
      display: flex;
      @include breakpoint(medium) {
        justify-content: flex-end;
      }
      @include breakpoint(small) {
        justify-content: center;
      }

      img {
        height: 10rem;
      }
    }
    .content-container {
      @include breakpoint(tablet) {
        align-items: flex-start;
      }
      @include breakpoint(small) {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      .resend-verification {
        font-size: 11px;
        margin-left: auto;
      }
    }
  }

  .cn-submit-syllabi-container {
    .cn-flex-table {
      max-height: 60vh;
      overflow-y:hidden;
      overflow-y: scroll;
      .empty-message {
        text-align: center;
      }
      .cn-flex-table-head {
        justify-content: center;
      }
      .cn-flex-table-body {
        background-color: $cn-color-white;
        border: 1px solid darken(#f0f1f3,10);
        border-radius: $cn-border-radius;

        .cn-flex-table-row {
          .cn-flex-table-cell {
            justify-content: center;
            align-items: center;
            &:first-child {
              justify-content: flex-start;
              font-weight: 600;
            }
          }
        }

        .cn-flex-table-row:nth-of-type(odd) {
          background-color: $cn-color-white;
        }

        .cn-flex-table-row:nth-of-type(even) {
          background-color: $cn-color-white;
        }
      }
    }

    .cn-upload-history {
      width: 100%;
      .upload-container {
        background-color: darken($cn-color-blue, 10);
        border-color: $cn-color-white;
        height: 100px;
        max-height: 100px;
        min-height: 100px;

        &.active {
          border-color: $cn-color-white;
        }

        &.disabled {
          background-color: #d7d7d7;
          border-color: #d7d7d7;
        }
      }


      .header, .history-item {
        color: $cn-color-white;
      }
    }

    .checkbox-label {
      color: #d7d7d7;
      font-weight: 400;
      margin-left: 5px;
    }
  }
  .message-bubble {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;

    @include breakpoint(large) {
      min-width: 100%;
    }

  }
}
