.onboard-top-nav-menu-item {
  float: right;
}

.onboard-container {
  .layout{  
    .onboard-content {
      width: 352px;

      @media only screen and (max-width: $sk-mobile-break-point) {
        max-width: 80vw;
      }

      .onboard-next {
        @include sk-standard-button;
      }

      .disabled {
        p {
          background-color: $cn-form-border;
          cursor: auto;
        }
      }

      .onboard-select-school {
        h1 {
          margin-bottom: 0;
        }

        .onboard-select-school-sammi-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 0px 8px 0px;

          .sammi-message {
            @include sammi-message-right;
          }

          img {
            float: right;
            width: 48px;
          }
        }
      }

      .onboard-find-class {
        h1 {
          margin: 1rem 0 0 0;
          text-align: center;
        }

        h3 {
          margin: -8px 0 0 0;
          text-align: center;
        }

        .onboard-find-class-sammi-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 16px;
  
          .sammi-message {
            @include sammi-message-left;
          }
  
          img {
            float: right;
            width: 48px;
          }
        }
      }

      .onboard-first-class {
        h1 {
          margin-bottom: 0;
          text-align: center;
        }

        .onboard-first-class-sammi-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 16px;

          .sammi-message {
            @include sammi-message-right;
          }

          img {
            float: right;
            width: 48px;
          }
        }
      }
    }
  }
}