.cn-people-talking-container {
  overflow-x: hidden;
  height: 100%;
  @include landing-nav-parent();

  .cn-people-talking-content {
    margin-top: 2em;
    padding: 2rem auto;

    .cn-people-talking-who {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-top: $unit-space * 2;
      margin: 0 auto;
      width: 100%;
      padding-bottom: $unit-space * 2;

      @include breakpoint(medium) {
        width: 100%;
        max-width: 1000px;
        flex-direction: row;
      }

      .video-wrapper {
        height: 100%;
        width: 100%;
        max-width: 500px;
        margin-bottom: $unit-space * 2;

        @include breakpoint(medium) {
          margin: 0;
        }

        .video {
          @include fluid-width-embed;
          border-radius: $cn-border-radius;
        } 
      }

      .section-people-talking {
        border: 2px solid #4A4A4A;
        border-radius: 8px;
        text-align: center;
        position: relative;
        width: 90%;
        min-width: 300px;

        @include breakpoint(medium) {
          width: 450px;
        }

        .people-talking-header {
          width: 200px;
          position: absolute;
          font-weight: bold;
          font-size: 24px;
          top: calc(-24px / 2);
          left: calc(50% - (200px / 2));
          text-align: center;
          height: 24px;
          background: $cn-primary-background-color;
          letter-spacing: 4px;
        }

        .content {
          margin: 0 auto;
          width: 250px;
      
          .list {
            @include unstyled-list;
            padding-top: $unit-space;
      
            li {
              margin-bottom: 2rem;
      
              .people-talking-img {
                width: 250px;
              }
            }
          }
        }
      }
    }

    .testimonials {
      @include section-marketing;
      @include slant;
      margin-top: 4rem;
      padding: 4rem 0 4rem 0;
      background: $cn-color-blue;
      color: $cn-color-white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .testimonial {
        flex-basis: 80%;
        font-size: 18px;
        margin-bottom: $unit-space * 2;
        text-align: center;
        font-weight: normal;

        @include breakpoint(medium) {
          flex-basis: 27%;
        }
      }
    }
  }

  h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;

    @include breakpoint(medium) {
      font-size: 36px;
    }
  }
}