.cn-privacy-policy-container {

  .privacy-policy-logo {
    height: 5rem;
    &:hover {
      cursor: pointer;
    }
  }

  .privacy-policy-content {
    padding: 2rem;
    .privacy-policy-section {
      margin: 1rem 0;

      li {
        padding-left: 1em;
        padding-bottom: 1em;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
