.container-promo-signup {
  align-items: center;
  display: block;
  @include breakpoint(medium) {
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    width: 475px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media only screen and (max-width: 765px) {
    max-width: 90vw;
    margin: 0 auto;
  }

  .cn-terms-of-use {
    margin-top: $unit-space / 2;
    font-size: 12px;
    text-align: center;
    width: 100%;
  }

  .container-form-register {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include breakpoint(medium) {
      display: flex;
    }

    @include breakpoint(large) {
      margin-bottom: 0;
      height: 100%;
    }

    #sign-up-form {
      padding: 4px 0;
      margin: 2rem 0;
      @include shadow-box;
      border-radius: 16px;
      min-height: 100%;
      width: 100%;

      @include breakpoint(medium) {
        padding: 0;
        margin: 0;
      }

      .cn-sign-up-form {
        margin-top: 2rem;

        .cn-sign-up-form-phone {
          margin-top: 8px;
          @include remove-form-styling;

          input {
            width: 100%;
            border: 1px solid $cn-form-border;
            border-radius: 3px;
            height: 32px;
            padding: 1px 10px;
            box-sizing: border-box;
          }
        }
        
        .form-padding {
          width: 95%;
          margin: 0 auto;
        }
      }
    }
  }
}