.cn-syllabus-tool-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;

  @include breakpoint(medium) {
    height: 100%;
  }

  #cn-review-submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cn-body-container {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-left: 1em;
    overflow-y: hidden;

    @include breakpoint(medium) {
      flex-direction: row;
      flex: 3.5;
    }

    .cn-section-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 1em;
      padding-top: 0;

      &.cn-control-panel {
        padding-left: 0;
        .cn-section-header{
          position: absolute;
          margin-top: -1.1em;
          display: flex;
          align-items: center;
        }
        .cn-section-content {
          background-color: #e8f3fd;
          overflow-y: auto;
          padding: 1em;
          padding-bottom: 0;

          .cn-section-content-header {
            font-size: 24px;
            font-weight: 600;
          }
        }
        @include breakpoint(medium) {
          flex: 1;
        }
        @include breakpoint(large) {
          flex: 1;
        }
      }

      &.cn-file-panel {
        background-color: $cn-color-white;
        border-radius: 10px;
        border: 1px solid #4A4A4A;

        .cn-section-header{
          position: absolute;
          margin-top: -1.1em;
          display: flex;
          align-items: center;
          align-self: flex-end;
        }
        
        .cn-section-content {
          height: 300px;
          flex: 1;
        }

        @include breakpoint(medium) {
          flex: 2;
        }
        @include breakpoint(large) {
          flex: 2.5;
        }
      }

      .cn-section-content {
        border-radius: 10px;
        border: 2px solid #a9a9a9;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }

  .cn-modal {
    min-width: 300px;
    width: 300px;
    overflow-y: hidden;
  }
}
