.cn-syllabus-tool-container {
  @include center-viewport-content-container-internal;
  overflow-y: scroll;

  .cn-class-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    h2 {
      display: inline-block;
      padding: 0px;
      margin: 0px auto;
    }

    .back-button {
      font-size: 2em;
    }
    .skip-button {
      font-size: 0.75em;
      font-style: italic;
    }
  }
  .cn-section-container {
    border-radius: 10px;
    border: 2px solid #a9a9a9;
    height: calc(70vh - 64px);
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;

    &.cn-syllabus-section-container {
      background-color: #e8f3fd;
      padding: 10px;
      // height: auto;
      height: calc(70vh - 64px);
    }
  }

  .actions-container {
    justify-content: center;
  }
}
