.cn-syllabus-tutorial-container {
  @include breakpoint(large) {
    @include center-viewport-content-container-internal;
    overflow-y: scroll;
  }

  .cn-outline-container {
    @include breakpoint(medium) {
      border: 0;
      position: relative;
    }

    @include breakpoint(large) {
      border: 2px solid #a9a9a9;
      border-radius: 10px;
      height: calc(80vh - 64px);
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    .cn-tutorial-info {

      .header {
        margin: 0;
        margin-top: 0.5em;
        // margin-bottom: 0.5em;
        padding: 0;
      }

      .description {
        display: block;
        margin-top: 0.5em;
      }

      button {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(small) {
          margin-top: 1em;
          width: 100%;
        }

        @include breakpoint(medium) {
          margin-top: 1em;
          width: 100%;
        }

        @include breakpoint(large) {
          margin-top: -0.75em;
          width: auto;
        }
      }
    }

    .cn-section-container {
      background-color: lighten(#a9a9a9, 10);
      border-radius: 10px;
      border: 2px solid #a9a9a9;
      height: calc(50vh - 64px);
      padding: 0;
      overflow: hidden;
      overflow-y: scroll;

      >div {
        background-color: white;
        padding: 0.5em;
      }

      @include breakpoint(medium) {
        position: relative;
        width: auto;
      }

      @include breakpoint(large) {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }

      &.left {
        @include breakpoint(medium) {
        }
        @include breakpoint(large) {
          float: left;
          left: -40%;
        }
        @include breakpoint(xlarge) {
          float: left;
          left: -55%;
        }
      }

      &.right {

        @include breakpoint(medium) {
        }
        @include breakpoint(large) {
          float: right;
          right: -40%;
        }

        @include breakpoint(xlarge) {
          float: right;
          right: -55%;
        }
      }
    }

    .button-container {
      background-color: lighten(#a9a9a9, 10);
      margin-left: 0.5em;
      margin-right: 0.5em;
      width: calc(100% - 1em);
      left: 0;
      min-height: calc(1.25em + 14.8px);

      @include breakpoint(medium) {
        position: relative;
      }

      @include breakpoint(large) {
        position: absolute;
        bottom: 5%;
      }
    }
  }

  .progress-bar-container {
    @include breakpoint(medium) {
    }

    @include breakpoint(large) {
      position: absolute;
      top: calc(90vh - 64px)
    }
    // top: 0;
    // left: 0%;
    // transform: translateX(50%);

  }

  .having-issues {
    color: $cn-color-red;
    font-style: italic;

    @include breakpoint(medium) {
      float: right;
      margin-top: 1em;
      position: relative;
      text-align: right;
    }

    @include breakpoint(large) {
      position: absolute;
      top: calc(66vh - 64px);
      right: -40%;
    }

    @include breakpoint(xlarge) {
      position: absolute;
      top: calc(66vh - 64px);
      float: right;
      right: -55%;
    }
  }
}
