.cn-syllabus-tool-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;

  @include breakpoint(medium) {
    height: 100%;
  }

  .cn-body-container {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-left: 1em;

    @include breakpoint(medium) {
      flex-direction: row;
      flex: 3.5;
    }

    .cn-section-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 1em;
      padding-top: 0;

      &.cn-control-panel {
        padding-left: 0;
        .cn-section-header{
          position: absolute;
          margin-top: -1.1em;
          display: flex;
          align-items: center;
        }
        .cn-section-control {
          background-color: #e8f3fd;
          overflow-y: scroll;
          padding: 1em;
        }
        @include breakpoint(medium) {
          flex: 1;
        }
        @include breakpoint(large) {
          flex: 1;
        }
        .cn-section-footer {
          display: flex;
          flex-direction: column;
          
          .cn-status-form, button {
            min-width: 100%;
            @include breakpoint(medium) {
              min-width: 50%;
            }
          }
          .having-issues {
            float: right;
          }
        }
      }

      &.cn-file-panel {
        position: relative;
        background-color: $cn-color-white;
        border-radius: 10px;
        border: 1px solid #4A4A4A;

        .cn-section-header{
          position: absolute;
          margin-top: -1.1em;
          display: flex;
          align-items: center;
        }
        
        .cn-section-control {
          height: 300px;
          flex: 1;
        }

        @include breakpoint(medium) {
          flex: 2;
        }
        @include breakpoint(large) {
          flex: 2.5;
        }
      }

      .cn-section-control {
        border-radius: 10px;
        border: 2px solid #a9a9a9;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }

  .grade-scales {
    display: flex;
    justify-content: space-around;

    .current-grade-scale-container{
      text-align: center;
      flex-grow: 1;
      .current-grade-scale {
        .current-grade-scale-list {
          @include unstyled-list;
          border-radius: 10px;
          border: 2px solid #a9a9a9;
          background-color: $cn-color-white;

          .grade-row {
            margin: $unit-space / 4 $unit-space / 2 0 $unit-space / 2;
            display: flex;
            justify-content: center;

            .delete-x {
              align-self: flex-start;
              flex-basis: 25px;
            }

            .grade {
              display: flex;
              justify-content: space-around;
              flex-basis: 75px;
            }
          }
        }
      }
      .grade-scale-form {
        .grade-scale-form-inputs {
          display: flex;
          justify-content: space-around;

          input {
            width: 50px;
          }
        }
      }
    }

    .other-common-scales-container{
      text-align: center;
      flex-grow: 2;

      .other-common-scales {
        text-align: left;
        display: flex;
        justify-content: space-around;
        flex-grow: 2;
        flex-wrap: wrap;
      }
    }

    .grade-scale-list {
      @include unstyled-list;
      border-radius: 10px;
      border: 2px solid #a9a9a9;
      background-color: $cn-color-white;
      flex-basis: 75px;
      position: relative;

      .adopt-button {
        margin-top: calc(2em + 5px);

        .button {
          @include button;
          width: 80%;
          position: absolute;
          bottom: 5px;
          left:10%;
        }
      }
      
      .grade-row {
        margin: $unit-space / 4 $unit-space / 2 0 $unit-space / 2;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  
}
