.cn-add-class-container {
  h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  a {
    display: inline-block;
  }

  .submit {
    position: absolute;
    left: 24px;
    top: 20px;
  }

  .search-container {
    padding: 1px;
  }
}
