#cn-assignment-table-label {
  font-size: 17.5px;
  font-weight: 600;
  color: #4a4a4a;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 4px 10px;
}

#class-editor-assignments-table {
  background-color: none;
  // border-top: 1px solid $cn-form-border;
  // border-radius: 0px 0px 5px 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  overflow: hidden;
  padding-bottom: 1rem;

  &.view-only {
    height: 100%;
    .table-row {
      cursor: auto;
      &:hover {
        background-color: $cn-color-white;
      }
    }
  }

  .table-row {
    cursor: pointer;
    padding: 0.4em 0.5em 0em 0.3em;
    padding-right: 0;
    font-size: 17.5px;
    display: flex;
    flex-direction: row;
    width: 100%;

    .bold {
      font-weight: 600;
    }

    .assignment-name-container {
      height: 100%;
      display: flex;
      flex-direction: row;

      img {
        height: 17px;
        width: 17px;
      }

      .assignment-label {
        padding-top: 1.5px;
      }
    }

    &:hover {
      background-color: darken($cn-color-white, 10%);
    }

    &.active {
      background-color: $cn-blue-cell-background;
    }

    .right-text {
      padding-right: 10px;
    }
  }

  #assignment-rows {
    height: 100%;
    padding: 0.4em 0;
    overflow-y: auto;
    border-radius: 5px;
  }

  #submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5px;

    #notification {
      color: #c7c7cd;
      font-size: 13px;
      margin-bottom: 0.7em;
    }

    .submit-assignments {
      border-radius: 5px;
      height: 1.6em;
      min-height: 1.6em;
      background-color: $cn-color-green;
      font-size: 18px;
      padding-top: 6px;

      &.disabled {
        color: #ffffff !important;
        cursor: default;
      }
    }
  }
}

.tagAssignfm {
  line-height: 20px;
  .weightselect {
    width: 70%;
    display: inline-block;
  }
  .weightselect {
    margin-top: 0px;
  }
  .cn-font-icon {
    width: 15%;
    display: inline-block;
    color: #5ab9e4;
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
  }
}
