#cn-assignment-form {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0em 0.5em;
  user-select: none;

  .cn-section-content-header {
    margin-top: 29px;
  }

  .header {
    justify-content: center;
  }

  hr {
    margin: 4px 0px;
    background-color: #aaaaaa;
    border: none;
    height: 0.5px;
  }

  .row {
    padding: 0px 7px 0px 10px;

    .col-xs-4 {
      .margin-top {
        margin-top: 18px;
      }
    }

    .cn-input-label {
      font-size: 15px;
    }

    select {
      cursor: pointer;
    }
  }
  .cn-form-input {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 24px;
    padding: 0 5px;
  }

  .cn-input-container {
    padding: 0 5px;
  }
  .unknown-due {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .cn-input-label {
      margin-bottom: 6px;
    }

    .checkbox-appearance {
      height: 17px;
      width: 17px;
      border-radius: 3px;
      border: 1px solid #aaaaaa;

      cursor: pointer;
    }
  }

  #button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-bottom: 1.7rem;

    button {
      border-radius: 5px;
      padding: 6px 10px 2px 10px;
      margin-top: 1.7rem;
      font-size: 14pt;
      width: 60%;
      height: 1.6em;
      min-height: 1.6em;

      &.disabled {
        color: #ffffff !important;
        cursor: default;
      }
    }
  }

  .cn-section-name-header,
  .cn-section-value-header,
  .cn-section-assignment-name {
    width: 100px;
    display: inline-block;
    line-height: 16px;
    margin-top: 10px;
  }
  .txt-gray {
    color: #c7c7cc;
  }
  hr.txt-gray {
    background-color: #c7c7cc;
  }
  .cn-section-due-header {
    display: inline-block;
  }
  .cn-section-value-header,
  .cn-section-weight-header {
    float: right;
    text-align: end;
  }

  .cn-delete-icon {
    width: 7%;
    display: inline-block;
    color: #5ab9e4;
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
  }

  .cn-input-assignment-name {
    width: 35%;
    display: inline-block;
  }

  .cn-input-assignment-date {
    width: 25%;
    display: inline-block;
  }
  .cn-input-assignment-weight {
    width: 25%;
    display: inline-block;
  }
  .cn-input-assignment-month {
    width: 40%;
    display: inline-block;
  }
  .cn-input-assignment-day {
    width: 40%;
    display: inline-block;
  }
  .cn-files-icon {
    width: 7%;
    display: inline-block;
    color: #5ab9e4;
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
    text-align: end;
  }
}
#cn-assignment-form .cn-input-assignment-name.reviewname {
  width: 45%;
}
#cn-assignment-form .cn-input-assignment-date.reviewDue {
  width: 22%;
}
.reviewAssignSelect {
  width: 39%;
  display: inline;
  .reviewSelect {
    width: 25%;
    font-size: 13px;
    padding: 2px;
  }
}

.reviewWeightHeader {
  float: right;
  margin-top: 10px;
  width: 25%;
  text-align: right;
  color: #c7c7cc;
}
.reviewDueHeader {
  float: right;
  margin-top: 10px;
  width: 15%;
  min-width: 65px;
  color: #c7c7cc;
}
.reviewAssinHeader {
  color: #c7c7cc;
}
