#cn-assignments {
  // height: 93.5%;

  #cn-assignment-window {
    // height: 100%;

    #cn-assignment-table {
      display: flex;
      height: 60%;
      flex-direction: column;
      border: 1px solid $cn-color-grey;
      border-radius: 5px;
    }
  }
}