#cn-assignments {
  #cn-assignment-table {
    margin-top: $unit-space;

    #cn-assignment-table-label {
      font-size: 14px;
      margin-bottom: $unit-space / 2;
      display: flex;
      justify-content: space-between;
    }
  }
}