.cn-autocomplete-container {
  position: relative;

  .cn-autocomplete-input {
    @include form-element;
    &.loading {
        background-color: #ffffff;
        background-image: url("http://loadinggif.com/images/image-selection/3.gif");
        background-size: 16px 16px;
        background-position: 99% center;
        background-repeat: no-repeat;
        // margin-right: 5px;
    }

  }
  .cn-autocomplete-results-container {
    max-height: 100px;
    overflow-y: scroll;
    z-index: 1;
    position: absolute;
    width: 100%;

    .cn-autocomplete-result {
      background-color: #fff;
      border: 1px solid #CCC;
      border-top: 0;
      border-bottom: 0;
      font-size: 0.75em;
      padding: 10px;

      &:hover {
        background-color: darken(#fff, 10%);
      }

      &:last-child{
        border-bottom: 1px solid #CCC;
        border-radius: $cn-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
