.cn-autocomplete-container {
  .cn-autocomplete-input {
    @include form-element;

  }
  .cn-autocomplete-results {
    background-color: #fff;
    border: 1px solid #CCC;
    border-top: 0;
    border-radius: $cn-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 0.75em;
    padding: 10px;
  }
}
