.calendar-container {
  display: flex;
  justify-content: center;

  .calendar {
    @include skoller-cell;
    width: calc(100vw - 200px - 8rem);
    max-width: 800px;
    min-width: 600px;

    .calendar-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 16px;
      
      h1 {
        text-align: center;
        margin: 9px 0 0 0; // accounts for text space under baseline
      }

      .calendar-nav-item {
        cursor: pointer;
      }
    }

    .calendar-body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 16px;

      .calendar-day-cell-container {
        flex: 1 1 calc(100% / 7 - 8px);
        min-width: 0;

        .calendar-day-cell-wrapper {
          height: 100%;
          overflow: hidden;
          
          .calendar-date {
            color: rgba(0,0,0,.1);

            p {
              margin: 0;
            }
          }

          .current-month {
            color: #4a4a4a;
            font-weight: 500;
          }

          .current-day {
            margin: 0px 0 4px 0;
            width: 20px;
            height: 20px;
            color: white;
            font-weight: 500;
            text-align: center;
            background-color: red;
            padding: 3px 2px 0px 2px;
            border-radius: 5px;
          }

          .calendar-day-cell {
            background-color: rgba(0,0,0,.05);
            border-radius: 7px;
            padding: 4px;
            margin: 4px 4px 12px 4px;
            height: 64px;
            overflow-y: scroll;
            scrollbar-width: none;
  
            ::-webkit-scrollbar {
              width: 0px;  /* Remove scrollbar space */
              background: transparent;  /* Optional: just make scrollbar invisible */
            }
  
            .calendar-assignment-container {
              width: 100%;

              .calendar-assignment {
                margin-bottom: 4px;
                border-radius: 7px;
                color: white;
                font-weight: 200;
                padding: 4px 4px 0 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}