
#class-editor-chat {
  @include shadow-box;
  min-width: 200px;

  #class-editor-chat-content {
    @include shadow-box-content;

    .class-editor-chat-title {
      @include shadow-box-title;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
