.cn-class-card {
  @include shadow-box;
  width: 100%;
  margin-top: $unit-space;

  .cn-class-card-content {
    @include shadow-box-content;

    .cn-class-title {
      @include shadow-box-title;
      display: flex;
      justify-content: space-between;
    }

    .cn-class-card-row {
      margin-top: $unit-space;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .cn-class-card-field {
        text-align: center;
        font-size: 14px;

        .cn-class-card-label {
          font-weight: 300;
          
        }
      }

      .cn-class-card-field:first-child {
        text-align: left;
      }

      .cn-class-card-field:last-child {
        text-align: right;
      }

      
    }
  }
}