.class-editor-table {
  background-color: white;
  border: 2px solid #a0a0a0;
  border-radius: $cn-border-radius;
  min-height: 175px;
  display: flex;
  flex-direction: column;

  &.view-only {
    height: 100%;
    .table-row {
      cursor: auto;
      &:hover {
        background-color: white;
      }
    }

  }

  .table-row {
    cursor: pointer;
    padding: 0.5em;
    font-size: 12px;
    .bold {
      font-weight: 600;
    }
    &:hover {
      background-color: darken(white, 10%);
    }

    &.active {
      background-color: #b0d3fb;
    }
  }

  #class-editor-weights-table {
    flex: 9;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #class-weights-total {
    border-top: 2px solid #a0a0a0;
    padding: 0.5em;
  }

  #class-editor-assignments-table {
    overflow-y: scroll;

    .desctiption {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
