.cn-create-class-container {
  h4, h5 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
  }
  .cn-modal-header {
    text-align: center;
  }

  a {
    display: inline-block;
  }

  .back {
    position: absolute;
    left: 24px;
    top: 20px;
  }
}
