.cn-file-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 35px;
  align-items: center;

  .cn-file-tab {
    align-items: baseline;
    background-color: $cn-color-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    padding-bottom: 0;
    text-align: center;
    overflow-x: hidden;
    font-size: 12px; 
    font-weight: 500;
    color: $cn-color-blue;

    &.flex {
      flex: 1;
    }

    &:hover { 
      color: $cn-font-color;
    }

    &.active { 
      color: $cn-font-color;
      font-size: 16px;
    }

    button {
      padding: 0;
      font-size: 0.8em;
      height: 20px;
      margin-left: 5px;
      width: 20px;
      border: 0;
      &:hover {
        cursor: pointer;
      }
      background-color: $cn-color-white;
      color: $cn-color-red;
    }
  }

  .button {
    font-size: 12px;
    height: 15px;
    width: 80px;
    align-self: center;
  }
}
