.cn-file-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .cn-file-tab {
    align-items: center;
    background-color: $cn-color-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    text-align: center;
    overflow-x: hidden;
    font-size: 12px; 
    font-weight: 500;
    color: $cn-color-blue;

    &.flex {
      flex: 1;
    }

    &:first-child { border-left-width: 2px; }

    &:last-child { border-right-width: 2px; }

    &:hover { 
      color: $cn-font-color;
    }

    &.active { 
      color: $cn-font-color;
      font-size: 24px;
    }

    button {
      font-size: 0.8em;
      height: 20px;
      margin-left: 5px;
      padding: 2px;
      text-align: center;
      width: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
