.file-viewer {
  height: 100%;
  position: relative;
  width: 100%;

  &.is-image {
    overflow: auto;
  }

  iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }

  .action {
    display: none;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
  }
}
