.file-viewer {
  height: 100%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }

  img {
    height: 100%;
    width: auto;
  }

  .action {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
  }
}
