$table-grey: #d6d6d6;
$table-padding: 10px;
$table-header-padding: 7px;
$table-col-spacing: 10px;

.cn-table-grid-header-tab{
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 7px;
  border-radius: 7px 7px 0px 0px;
  box-shadow: 1px 0px 2px #888888;
  background: white;
}

.cn-table-grid {
  border: 0px;
  border-spacing: 0px;
  font-size: 0.85rem;
  width:100%;

  tbody {
    &.bordered {
      border: 1px solid black;
      display: block;
    }
  }

  &.striped {
    thead {
      background: $cn-color-white;
    }
    tbody:nth-of-type(odd) {
      .data-row {
        background: #edf5ff;
      }
    }
    tbody:nth-of-type(even) {
      .data-row {
        background: #fff;
      }
    }
  }

  thead tr th, tbody .data-row {
    td {
      border-bottom: 0px;
    }
  }

  > thead {
    > tr {
      > th {
        font-weight: 700;
      }
      .th-spacer {
        width: 50px;
      }
    }
  }



  tr {
    th {
      cursor: pointer;
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
      padding-right: 15px;
      position: relative;
    }

    th, td {
      text-align: left;
      padding-left: 0rem;
      padding-bottom: $table-header-padding;
      padding-top: $table-header-padding;
      padding-right: $table-col-spacing;

      &.center-text {
        text-align: center;
      }
    }
  }

  tbody {
    td {
      padding: 0;
      border: 0px;
      word-wrap: break-word;
    }

    .no-items {
      text-align: left;
      padding: 1em;
    }

    .data-row {
      cursor: pointer;
      td {
        padding: {
          top: $table-padding;
          bottom: $table-padding;
          right: $table-col-spacing;
        }
        .fa-trash {
          color: $cn-color-red;
          display: none;
        }
      }
      &:hover {
        td .fa-trash {
          display: inline-block;
        }
      }
    }
  }
}

.grid-icon {
  text-align: center;
  font-size: 18px;
}

.center-content {
  text-align: center;
}
