.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  $sk-home-break-point: 1000px;
  @media only screen and (max-width: $sk-home-break-point) {
    flex-direction: column;
  }

  box-sizing: border-box;
  padding: 1rem 1rem 3.5rem 1rem;

  .home-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;

    .home-shadow-box {
      box-sizing: border-box;
      width: calc(((100vw - 200px) / 2) - 2rem);
      @include skoller-cell;
      max-width: 464px;

      @media only screen and (max-width: $sk-home-break-point) {
        width: calc((100vw - 200px) - 5rem);
        margin: 16px 16px;
      }
  
      @media only screen and (max-width: $sk-mobile-break-point) {
        width: calc((100vw - 2rem));
      }

      .home-heading {
        padding: 16px 16px 0px 16px;
        margin: 0;
        width: 100%;
        border-radius: $skoller-cell-border-radius $skoller-cell-border-radius 0 0;
        cursor: pointer;
      }

      .home-sub-heading {
        text-align: right;
        margin: -24px 16px 0 0;
        width: 120px;
        float: right;
      }
    
      .home-card-content {
        margin: 16px 0 0 0;
        padding: 0 16px;
      }
    }
  }
}