.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .home-shadow-box {
    @include skoller-cell
    width: calc(((100vw - 200px) / 2) - 36px);
    max-width: 464px;
    margin: 16px 16px;

    @media only screen and (max-width: 900px) {
      width: calc((100vw - 200px) - 36px);
    }
  
    h1 {
      padding: 16px 16px 0px 16px;
      margin: 0;
      background-color: rgba(0,0,0,.05);
      width: 100%;
      border-radius: 16px 16px 0 0;
    }
  
    .home-card-content {
      margin: 16px 0 0 0;
      padding: 0 16px;
    }
  }
}