$sk-home-break-point: 1000px;

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100vw - 200px);

  box-sizing: border-box;
  padding: 1rem 2rem 3.5rem 2rem;

  @media only screen and (max-width: $sk-home-break-point) {
    flex-direction: column;
    width: calc(100vw - 200px);
  }

  @media only screen and (max-width: $sk-mobile-break-point) {
    flex-direction: column;
    width: 100vw;
    padding: 1rem 1rem 3.5rem 1rem;
  }

  .home-column-lg {
    width: 60%;
    max-width: 600px;
    margin-right: 2rem;

    @media only screen and (max-width: $sk-home-break-point) {
      width: 100%;
      margin: 0;
      max-width: none;
    }
  }

  .home-column-sm {
    width: 40%;
    max-width: 400px;

    @media only screen and (max-width: $sk-home-break-point) {
      width: 100%;
      max-width: none;
    }
  }

  .home-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-shadow-box {
      box-sizing: border-box;
      width: 100%;
      @include skoller-cell;
      margin: 0 0 2rem 0;

      @media only screen and (max-width: $sk-mobile-break-point) {
        margin: 0 1rem 1rem 1rem;
      }

      .home-heading {
        padding: 16px 16px 0px 16px;
        margin: 0;
        width: 100%;
        border-radius: $skoller-cell-border-radius $skoller-cell-border-radius 0 0;
        cursor: pointer;
      }

      .home-sub-heading {
        text-align: right;
        margin: -24px 16px 0 0;
        width: 120px;
        float: right;
      }

      .home-card-content {
        margin: 0;
        padding: 16px;
      }
    }

    .home-jobs-shadow-box {
      background-color: $sk-charcoal;
      color: $sk-jobs-white;
    }

    .home-insights {
      position: relative;
      padding: 15px;

      .home-insights-select {
        position: absolute;
        top: 0;
        right: 0;
        width: 128px;
      }

      .sec-title > svg {
        height: 22px;
        width: 22px;
      }

      .tooltip-container {
        position: absolute;
        top: 20px;
        left: 128px;
        font-size: 14px;
        color: $sk-blue;

        .tooltip {
          width: 196px;
        }
      }
    }

    .home-insights-svg {
      transform: translate(0, -70px);
      margin-bottom: -60px;
    }
  }
}
