.insights-semester {
  @include skoller-cell;
  padding: 1rem;
  width: 100%;
  max-width: 600px;

  h1 {
    margin: 0;
  }

  .insights-semester-tagline {
    margin: 0 0 2rem 0;
    font-style: italic;
  }
}