@mixin navbar {
  background-color: $cn-color-white;
  border-bottom: 2px solid $cn-color-blue;
  height: $unit-nav-height;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.cn-navbar {
  overflow: hidden;
  @include navbar();

  .class-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;

    .header-container {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 0px auto;

      .header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px auto;

        h2 {
          display: inline-block;
          padding: 0px;
          margin: 0px;
        }

        .issue-icon-container {
          position: relative;
          text-align: center;
          z-index: 100;

          .message-bubble {
            background-color: white;
            border: 1px solid black;
            color: black;
            display: none;
            left: 50%;
            margin-left: -0.5em;
            position: absolute;
            bottom: 0;
            transform: translate(-50%, 100%);
            width: 300px;

            &.triangle-top {
              &::before {
                margin-top: 4px;
                border-right: 6px solid black;
              }
            }

            .triangle-inner{
              &::before {
                border-top: 6px solid transparent;
                border-right: 6px solid white;
                border-bottom: 6px solid transparent;
                margin-bottom: 6px;
              }
            }
          }

          &:hover {
            cursor: pointer;

            .message-bubble {
              display: block;
            }
          }
        }
      }

      .class-details {
        display: flex;
        flex-direction: row;

        span {
          font-size: 11px;
          margin-left: 0.25em;
          margin-right: 0.25em;
        }
      }

      .back-button {
        font-size: 2em;
      }

      .skip-button {
        font-size: 0.75em;
        font-style: italic;
      }
    }
  }

  .user-info {
    align-items: center;
    display: flex;

    p {
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }

    span {
      display: block;
      font-size: 0.75rem;
      font-weight: 200;
      text-align: center;
    }

    .profile-img {
      border-radius: 100%;
      height: 3rem;
      min-width: 3rem;
      max-width: 3rem;
      margin-left: 0.5rem;

      &.profile-initials {
        padding-top: 5px;
        font-size: 1.5em;
        background-color: $cn-color-blue;
        color: $cn-color-white;
        text-align: center;
      }
    }
  }

  .logo {
    height: 3rem;
    cursor: pointer;
  }

  .cn-navbar-message {
    position: absolute;
    left: 156px;
    top: 28px;
    font-size: 22px;
    font-style: italic;
    color: $cn-color-blue;

    @media only screen and (max-width: 800px) {
      font-size: 18px;
      top: 32px;
    }

    @media only screen and (max-width: 600px) {
      font-size: 16px;
      top: 32px;
    }

    @media only screen and (max-width: $sk-mobile-break-point) {
      display: none;
    }
  }
}

.cn-navbar-jobs {
  border-bottom: 2px solid $sk-jobs-dark-green;

  .logo {
    margin: 0.45rem 0 0 0.45rem;
    height: 2.6rem;
    cursor: pointer;
  }
}