#class-editor-professor {
  @include shadow-box;
  min-width: 300px;

  #class-editor-professor-content {
    @include shadow-box-content;

    #professor-title {
      @include shadow-box-title;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .professor-detail-row {
      @include shadow-box-row;

      .professor-detail-field {
        @include shadow-box-field;

        .professor-detail-label {
          @include shadow-box-label;
        }
      }

      .professor-detail-field:last-child {
        text-align: right;
      }

      .professor-detail-field:first-child {
        text-align: left;
      }
    }
  }
}