.cn-progress-steps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  align-self: center;

  @include breakpoint(medium) {
    width: 720px;
  }

  .cn-progress-step:first-child {
    .cn-progress-bar {
      .cn-progress-divider-left {
        display: none;
      }
    }
  }

  .cn-progress-step:last-child {
    .cn-progress-bar {
      .cn-progress-divider-right {
        display: none;
      }
    }
  }

  .cn-progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .progress-bar-title {
      font-size: 0.75em;
      margin-bottom: 7px;
      text-align: center;
    }

    .cn-progress-bar {
      width: 20px;
      height: 20px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 4.5px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
      position: relative;

      &.active {
        background-color: $cn-color-blue;
        color: $cn-color-white;
      }

      .cn-progress-divider-left {
        position: absolute;
        left: -1/3 * 300px / 2;
        top: 50%;
        height: 1px;
        border-top: 1px solid black;
        width: 1/3 * 300px / 2;

        @include breakpoint(medium) {
          left: -1/3 * 720px / 2;
          width: 1/3 * 720px / 2;
        }
      }

      .cn-progress-divider-right {
        position: absolute;
        right: -1/3 * 300px / 2;
        top: 50%;
        height: 1px;
        border-top: 1px solid black;
        width: 1/3 * 300px / 2;

        @include breakpoint(medium) {
          right: -1/3 * 720px / 2;
          width: 1/3 * 720px / 2;
        }
      }
    }
  }
}