.sk-share-form {
  @include skoller-cell;
  width: 100%;
  max-width: 400px;
  margin: 0.5rem;
  padding: 1rem;

  h2 {
    margin: 0;
  }

  .sk-share-form-section {
    margin-top: 1rem;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    .sk-share-form-select {
      @include sk-form-field;
      height: 24px;
      cursor: pointer;
      margin-bottom: -1px;
      position: relative;

      .sk-share-form-selection {
        padding-top: 2px;
      }
    }

    .sk-share-autocomplete-option {
      @include sk-autocomplete-option;
    }
  }
}