.sk-share-classes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .sk-share-classes-col {
    width: 380px;
    max-width: 100vw;

    .sk-share-form {
      @include skoller-cell;
      margin: 1rem 0.5rem;
      padding: 1rem;

      .sk-share-form-incentive {
        width: 100%;
        height: 278px;

        .sk-share-form-incentive-headline {
          font-size: 24px;
          font-weight: 200;
          text-align: center;

          b {
            font-weight: 600;
          }
        }

        .sk-share-form-incentive-img {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          height: 230px;
          width: 100%;
          margin: 0.5rem 0;
          position: relative;

          .sk-share-form-incentive-org {
            position: absolute;
            top: 150px;
            left: 150px;
            text-transform: uppercase;
            font-weight: 600;
            color: white;
            @include not-selectable;
          }
        }
      }
    
      h1, h2 {
        margin: 0;
      }
    
      .sk-share-form-section {
        margin-top: 2rem;
    
        h4 {
          margin: 0;
        }
    
        p {
          margin: 0;
        }
    
        .sk-share-form-select {
          @include sk-form-field;
          height: 24px;
          cursor: pointer;
          margin-bottom: -1px;
          position: relative;
    
          .sk-share-form-selection {
            padding-top: 2px;
          }
        }
    
        .sk-share-autocomplete-option {
          @include sk-autocomplete-option;
        }
      }
    }

    .sk-share-classes-cell {
      @include skoller-cell;
      margin: 1rem 0.5rem;
      padding: 1rem;

      h1 {
        margin: 0;
      }

      .sk-share-classes-track-referrals {
        .table {
          border-spacing: 0;
          border-collapse: separate;
          width: 100%;
        }

        .table thead tr th {
          position: sticky;
          position: -webkit-sticky;
          top: 0;
          padding: 0.3rem;
          border: 1px solid $cn-form-border;
          background-color: $cn-form-border;
          font-size: 0.8rem;
        }

        th {
          margin-top: 2px;
        }

        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 0.8rem;
        }

        .name-td {
          text-align: start !important;
          padding-left: 10px !important;
        }

        .check-td {
          text-align: center;
        }

        .table-wrapper {
          margin-top: 10px;
          overflow-y: auto;
          white-space: nowrap;
          width: 100%;
          height: 220px;
          display: block;          
          border: 1px solid $cn-form-border;
          border-radius: 5px;
        }
      }

      .sk-payment {
        height: 100%;
        display: flex;
        flex-direction: column;

        .payment-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .amount-row {
            display: flex;
            flex-direction : row;
            justify-content: space-between;
            
            .amount {
              align-self: center;
            }
          }

          .venmo-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .venmo-form {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              form {
                display: flex;
                input {
                  padding: 0.5rem;
                  width: 65%;
                }
              }
            }
          }

          .venmo-container-inline {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
          }
        }

        .sub-text {
          margin-top: 5px;
        }
      }
    }
  }
}