.sk-enroll-login {  
  @include remove-form-styling;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .sk-enroll-login-number {
    @include sk-form-field;

    input {
      width: 100%;
    }
  }
  
  button {
    width: 128px;
    background-color: $cn-color-blue;
    border-radius: 5px;
    margin-left: 8px;
    height: 36px;
    padding: 4px 0 0 0;

    @media only screen and (max-height: 568px) {
      max-height: 24px;
      min-height: 0;
      height: 24px;
    }
  }
}