.sk-find-class-form {
  .sk-find-class-field {
    @include onboard-form-field;
    width: 100%;
    height: 24px;
  }

  .sk-find-class-selected-name {
    @include onboard-form-field;
    width: 100%;
    height: 24px;
    cursor: pointer;
  }

  .sk-find-class-selected-class {
    margin: 1rem 0;
    padding: 8px;
    border: 1px solid $cn-form-border;
    border-radius: 5px;
    cursor: pointer;

    .sk-find-class-selected-class-title {
      h3 {
        margin: 4px 0 0 0;
      }
    }

    .sk-find-class-selected-class-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }
  }

  .sk-find-class-autocomplete-container {
    cursor: pointer;
    box-sizing: border-box;
    padding: 4px;
    background-color: white;
    border: 1px solid $cn-form-border;
    border-radius: 5px;
    position: absolute;
    margin-top: -9px;
    max-height: 200px;
    overflow: scroll;

    .sk-find-class-autocomplete-option {
      padding: 4px 12px 4px 4px;
      border-bottom: 1px solid $cn-form-border;

      &:hover {
        background-color: rgba(0,0,0,.05);
      }

      .sk-find-class-autocomplete-option-title {
        h3 {
          margin: 4px 0 0 0;
        }
      }

      .sk-find-class-autocomplete-option-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }
    }
  }

  .sk-find-class-scs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .sk-find-class-scs-item {
      margin: 0 0 0.5rem 0;
      width: 100%;
      max-width: 30%;
      box-sizing: border-box;

      .sk-find-class-scs-field {
        @include remove-form-styling;
        border: 1px solid $cn-form-border;
        border-radius: 5px;
        height: 36px;
        padding: 4px;
        width: 100%;
  
        input {
          width: 100%;
          max-width: 80px;
          padding: 6px 20px 15px 0;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .sk-find-class-mtd-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;

    .sk-find-class-mtd-item {
      margin: 0 0 0.5rem 0;
      box-sizing: border-box;

      .sk-find-class-mtd-field {
        @include remove-form-styling;
        display: flex;
        flex-direction: row;
        justify-content: left;

        .sk-find-class-mtd-time {
          display: flex;
          flex-direction: row;
          border: 1px solid $cn-form-border;
          border-radius: 5px;
          height: 36px;
          padding: 4px;

          select {
            appearance: none;
            height: 100%;
            margin-bottom: 0.5rem;
            outline: 0;
          }

          select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
          }
        }

        .sk-find-class-mtd-ampm {
          display: flex;
          flex-direction: row;
          cursor: pointer;
          box-sizing: border-box;
          height: 36px;
          margin: 0 8px 0 8px;
          font-size: 12px;
  
          p {
            margin: 0;
            padding: 12px 4px 0 4px;
          }
  
          .sk-find-class-mtd-am {
            border: 1px solid $cn-form-border;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
  
          .sk-find-class-mtd-pm {
            margin-left: -1px;
            border: 1px solid $cn-form-border;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
  
          .active {
            background-color: $cn-color-blue;
            color: white;
          }
        }

        .disabled {
          background-color: rgba(0,0,0,.12);
          color: white;
          cursor: inherit;

          select {
            color: white;
          }
        }
      }

      .sk-find-class-mtd-divider {
        margin-top: 5px;
      }
    }

    .sk-find-class-mtd-item-days {
      flex: 1;

      .sk-find-class-mtd-days-container {
        display: flex;
        flex-direction: row;
        margin: 0 0 0.5rem 0;

        .sk-find-class-mtd-day {
          margin-right: -1px;
          border: 1px solid $cn-form-border;
          height: 36px;
          box-sizing: border-box;
          width: calc(100% / 7 + 0.80px);
          padding: 12px 5px 2px 5px;
          text-align: center;
          font-size: 12px;
          cursor: pointer;
        }

        .first {
          border: 1px solid $cn-form-border;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        .last {
          border: 1px solid $cn-form-border;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        .active {
          background-color: $cn-color-blue;
          color: white;
        }

        .disabled {
          background-color: rgba(0,0,0,.12);
          color: white;
          cursor: auto;
        }
      }
    }
    .sk-find-class-mtd-item-online {
      flex: 0 0 100%;
      display: inline-flex;
      justify-content: right;
      margin: -4px 0 0.25rem 0;

      p {
        margin: 4px 0 0 0;
      }
    }
  }
}