.sk-major-form {
  min-width: 300px;

  @media only screen and (max-width: $sk-mobile-break-point) {
    min-width: 0px;
    width: 100%;
  }

  .sk-major-form-search {
    position: relative;

    i {
      position: absolute;
      left: 8px;
      top: 10px;
      color: #00000085;
    }

    .sk-major-form-input {
      @include sk-form-field;
      padding-left: 28px;
      width: 100%;
      margin-bottom: -1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .sk-major-form-selections {
    margin: 1rem 0 0 0;

    .sk-major-form-selection {
      color: $cn-color-blue;
      cursor: pointer;
    }
  }

  .sk-major-form-option {
    @include sk-autocomplete-option;
  }

  .sk-major-form-submit {
    padding-top: 1rem;
    @include sk-standard-button;
  }

  .disabled {
    p {
      background-color: rgba(0,0,0,.12);
      color: white;
      cursor: auto;
   }
  }
}