.sk-select-dropdown-container {
  width: 100%;
  // -webkit-transform: translate3d(0,0,0);

  .sk-select-dropdown {
    // -webkit-transform: translate3d(0,0,0);
    position: fixed;
    z-index: 5;
    background-color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    border: 1px solid $cn-form-border;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 0.5rem 0;
    padding: 8px 4px 6px 4px;
    max-height: 136px;

    @-moz-document url-prefix() {
      position: absolute;
    }
  }
}
