.sk-select-school {
  .sk-select-school-label {

  }

  .sk-select-school-field {
    height: 100%;
    min-height: 36px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 0.5rem 0;
    padding: 8px 4px 6px 4px;
    
    &:focus {
      outline: none;
    }

    .sk-select-school-selected-school {
      .sk-select-school-selected-school-name {
        margin: 0;
      }
    }

    .sk-select-school-option {
      padding: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0,0,0,.05);
      }
    }
  }

  .sk-select-school-autocomplete-container {
    cursor: pointer;
    box-sizing: border-box;
    padding: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    position: absolute;
    margin-top: -9px;
    max-height: 200px;
    overflow: scroll;

    .sk-select-school-choice {
      padding: 4px;
      box-sizing: border-box;

      h3 {
        margin: 0;
      }
  
      p {
        margin: 0;
      }

      &:hover {
        background-color: rgba(0,0,0,.05);
      }
    }

    .sk-select-school-create-new {
      padding: 4px 4px 0 4px;
      color: $cn-color-blue;
      cursor: pointer;

      &:hover {
        background-color: rgba(0,0,0,.05);
      }
    }
  }
}