.snackbar {
  background-color: black;
  border-radius: $cn-border-radius;
  bottom: 2 * $unit-space;
  box-shadow: 0 0 40px rgba(#000, .15);
  color: white;
  left: calc(50% - 125px);
  width: 250px;
  padding: 16px;
  pointer-events: none;
  position: fixed;
  text-align: center;
  visibility: hidden;
  z-index: 1;

  &.show {
    // animation: snackbar-in .5s ease-out, snackbar-out .5s ease-out 2.5s;
    visibility: visible;
  }

  &.error {
    background-color: $cn-error-color;
    color: $cn-error-color-text;
  }

  &.warning {
    background-color: $cn-snackbar-warning;
    color: $cn-snackbar-warning-text;
  }

  &.info {
    background-color: $cn-snackbar-info;
    color: $cn-snackbar-info-text;
  }
}
