.speculate-no-gs {
  p {
    margin: 1rem 0 0 0;
  }

  .speculate-gs-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .speculate-gs-option {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      table {
        width: calc(100% - 2rem);
        height: 321px;
        border: 1px solid $cn-font-color;
        padding: 1rem;
        margin: 1rem;
        border-radius: 5px;
        font-weight: 600;
        background-color: rgba(0,0,0,0.02);

        td {
          text-align: center;
        }
      }

      .speculate-gs-option-select {
        @include sk-standard-button;
        bottom: 0;
      }
    }
  }
}

.speculate {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .speculate-select {
    margin: 0 auto;
    text-align: left;
    width: 48px;

    .sk-select-selection {
      padding: 0 4px;
    }

    .sk-select-option {
      cursor: pointer;
      padding: 4px;

      &:hover {
        background-color: $cn-color-hover-grey;
      }
    }
  }
}