.tasks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;

  .tasks-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    @include skoller-cell;
    padding: 1rem;
    width: calc((100vw - 200px) - 5rem);
    max-width: 512px;
    
    @media only screen and (max-width: $sk-mobile-break-point) {
      box-sizing: border-box;
      margin: 0 1rem;
      width: calc(100vw - 2rem);
    }

    h1 {
      margin: 0 0 1rem 0;
    }

    .tasks-sub-heading {
      text-align: right;
      width: 180px;
      position: absolute;
      top: 8px;
      right: 40px;
      color: rgba(0,0,0,0.5);
    }

    .tasks-filter {
      text-align: left;
      width: 100%;

      .tasks-filter-option {
        cursor: pointer;
        padding: 4px;
      
        &:hover {
          background-color: $cn-color-hover-grey;
        }
      }
    }

    .tasks-add-new {
      position: absolute;
      top: 1.4rem;
      right: 1rem;
      cursor: pointer;
      padding: 8px;
      margin: -8px;
      color: $cn-color-blue;

      i {
        cursor: pointer;
      }
    }
  }
}