.cn-top-nav {
  padding: 0 20px;
  position: fixed;
  top: $unit-nav-height;
  left: 0;
  width: 100%;

  @media only screen and (max-width: $sk-mobile-break-point) {
    display: none;
  }

  ul {
    @include reset-list;
    align-items: center;
    display: flex;
    height: $unit-top-nav-height;
    justify-content: space-between;
    li {
      padding: 5px;
      text-align: center;
      i {
        color: $cn-font-color;
        font-size: 1.3em;
        cursor: pointer;
        text-align: center;
      }

      &.active {
        i {
          color: $cn-color-blue;
        }
      }
    }
  }
}
