.cn-upload-history {
  .header {
    display: flex;
    font-size: 36px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $cn-color-grey;
  }
  .upload-history-list {
    .upload-container {
      background-color: $cn-color-white;
      input {
        display: none;
      }
      padding: 10px;
      border: 2px dotted darken(#f0f1f3,10);
      border-radius: $cn-border-radius;
      min-height: 150px;
      height: 150px;
      overflow: hidden;
      overflow-y: hidden;

      &.active {
        background-color: white;
        border: 2px solid darken(#f0f1f3,10);
      }

      &.has-files {
        border: 2px dotted $cn-color-blue;
        &.active {
          border: 2px solid $cn-color-blue;
        }
        &.disabled {
          border: 2px dotted #d7d7d7;
        }
      }

      &.disabled {
        background-color: #d7d7d7;
        border: 2px dotted #d7d7d7;
      }

      .history-item {
        font-size: 12px;
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 5px;
      }
    }
  }
  .upload-info {
    margin-top: 5px;
    font-size: 10px;
    .info-icon {
      margin-right: 5px;
    }
  }
}
