.cn-verification-code {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @include remove-form-styling;

  .cn-verification-code-input {
    background-color: white;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid $cn-form-border;

    @include breakpoint(medium) {
      margin: $unit-space;
    }

    &.active {
      border: 1px solid $cn-color-blue;
    }
    
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
