#cn-weights {
  #cn-weights-info {
    width: 100%;
    font-size: 12px;
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #class-weights-total {
    border-top: 1px solid $cn-color-grey;
    padding: 0.5em;
    font-size: 14px;
  }
}