#cn-weights {
  #cn-weight-table {
    #cn-weight-table-label {
      font-size: 14px;
      margin-bottom: $unit-space / 2;
      display: flex;
      justify-content: space-between;
    }
  }

  #cn-weights-info {
    width: 100%;
    font-size: 12px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
  }
}