#cn-weight-form {
  flex: 9;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0em 0.5em;

  hr {
    background-color: #aaaaaa;
    border: none;
    height: 1px;
    // margin: 0px;
  }

  .cn-input-container {
    padding: 0px 10px;

    .cn-input-label {
      font-size: 11.5px;
    }
  }

  .no-weights {
    margin-top: 0.8em;
  }

  #cn-weight-form-instructions {
    font-size: 9pt;
    font-weight: 500;
  }

  #cn-weight-form-value {
    display: flex;
    align-items: flex-end;
    width: 85px;

    .margin-top {
      margin-top: 0.7em;
    }

    .cn-input-container {
      padding-right: 0px;
    }

    .pct {
      margin: 0px 0px 2px 3px;
    }
  }

  .weight-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    user-select: none;
    margin: 8px 0 0 0;

    .selector {
      cursor: pointer;
    }

    div {
      width: 30%;
      text-align: center;
      padding-top: 4.5px;
      padding-bottom: 0.5px;
      border: 1px solid #57b9e4;
      color: #59b9e4;
      font-size: 9pt;
    }

    .percentage {
      border-radius: 5px 0 0 5px;
    }

    .points {
      border-radius: 0 5px 5px 0;
    }
  }

  .cn-weight-form-points {
    width: 100%;
    text-align: center;
    margin-top: 8px;

    .cn-weight-form-points-form {
      @include remove-form-styling;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      margin: 0 10px;

      .cn-weight-form-points-label {
        margin-top: 6px;
      }

      .cn-weight-form-points-field {
        display: flex;
        flex-direction: row;

        .cn-weight-form-points-display {
          margin-right: 8px;
          margin-top: 6px;
          font-weight: 600;
        }

        input {
          width: 64px;
          height: 22px;
          border: 1px solid $cn-form-border;
          border-radius: 5px;
          margin-right: 8px;
          padding: 4px;
          box-sizing: border-box;
        }

        button {
          @include primary-button;
        }
      }
    }
  }

  .input-box {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 24px;
    padding-bottom: 2px;
    background-color: #EDFAFF;
  }

  .input-box::placeholder {
    font-size: 10pt;
    color: #c7c7cd;
  }


  button {
    width: 85%;
    margin: 1.1em 7.5% 0px 7.5%;
    border-radius: 5px;
    padding: 6px 10px 2px 10px;
    font-size: 14pt;
    height: 1.6em;
    min-height: 1.6em;
    user-select: none;
  }

  .pct {
    font-size: 20px;
    margin: 0px 0px -2.5px 5px !important;
  }

  .cn-form-section {
    display: inline-block;
    width: 100%;
  }

  .cn-section-name-header,
  .cn-section-value-header {
    width: 50%;
    display: inline-block;
    line-height: 16px;
    margin-top: 10px;
  }
  .txt-gray {
    color: #c7c7cc;
  }
  hr.txt-gray {
    background-color: #c7c7cc;
  }
  .cn-section-value-header {
    text-align: end;
  }
  .cn-name-field {
    width: 65%;
    display: inline-block;
  }

  .cn-value-field {
    width: 20%;
    display: inline-block;
  }

  .cn-delete-icon {
    width: 5%;
    display: inline-block;
    color: #5ab9e4;
    vertical-align: -webkit-baseline-middle;
    font-size: 15px;
  }

  .cn-percentage-icon {
    width: 7%;
    display: inline-block;
    color: #5ab9e4;
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
    text-align: end;
  }
  .cn-percentage-grey {
    width: 7%;
    display: inline-block;
    color: #aaaaaa;
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
    text-align: end;
  }

  .cn-form-input:focus{
    border: 1px solid #57b9e4 !important;
    background-color: #ffffff !important;
  }

  .new-form {
    background-color: white !important;
  }
}

.addbtndiv {
  text-align: center;
  border-bottom: 1px solid #c7c7cc;
  height: 30px;
  margin-top: 5px;
  a {
    font-size: 18px;
    background: #5ab9e4;
    color: white;
    font-weight: 500;
    padding: 5px 15px 2px 15px;
    border-radius: 4px;
    vertical-align: -webkit-baseline-middle;
  }
}
