#class-editor-weight-table {
  background-color: $cn-color-white;
  border-top: 1px solid $cn-color-grey;
  height: 100%;
  display: flex;
  flex-direction: column;
  // min-width: 250px;

  &.view-only {
    height: 100%;
    .table-row {
      cursor: auto;
      &:hover {
        background-color: $cn-color-white;
      }
    }

  }

  .table-row {
    cursor: pointer;
    padding: 0.4em 0.5em 0em 0.3em;
    padding-right: 0;
    font-size: 17.5px;
    display: flex;
    flex-direction: row;
    width: 100%;

    .bold {
      font-weight: 600;
    }

    img {
      height: 17px;
      width: 17px;
    }

    .weight-label {
      padding-top: 1.5px;
    }

    &:hover {
      background-color: darken($cn-color-white, 10%);
    }

    &.active {
      background-color: $cn-blue-cell-background;
    }
  }

  #weight-table-container {
    height: 100%;

    #weight-rows-only {
      height: 83%;
      padding-top: 0.4em;
      overflow-y: auto;
    }

    #class-weights-total {
      border-top: 1px solid $cn-color-grey;
      padding: 0.8em 0.5em 0.5em 0.6em;

      .total-label {
        font-size: 17px;
      }

      .total-value {
        font-size: 17px;
      }
    }
  }
}