.cn-weight-type {
  height: 100%;

  #cn-weight-form-instructions {
    font-size: 9pt;
    font-weight: 500;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .button {
      width: 45%;
      box-shadow: 0px 2px 5px rgb(136, 136, 136);
      border-radius: 5px;
      font-weight: 500;
      font-size: 18px;
      padding: 0.35em 0.5em 0.15em;
      min-height: 1.6em;
      height: 1.6em;
      user-select: none;
    }
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .checkboxes {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .indiv-checkbox {
        display: flex;
        flex-direction: row;
        margin-top: 12px;

        .checkbox-appearance {
          height: 23px;
          width: 23px;
          border-radius: 5px;
          border: 1px solid #4a4a4a;

          cursor: pointer;
        }

        .checkbox-label {
          @include form-label;
          margin: 4px 0px 0px 10px;
          font-size: 13pt;
        }
      }
    }
  }

  .point-value {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    .point-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .point-value-label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 2px;
      }
      .point-value-input {
        width: 55%;
        height: 24px;
        border: 1px solid #AAAAAA;
        border-radius: 5px;
      }
    }
  }
}