@mixin input-text-types {
  input {
    &[type='text'],
    &[type='password'],
    &[type='search'],
    &[type='email'],
    &[type='url'],
    &[type='tel'] {
      @content;
    }
  }
}

@mixin form-element {
  background-color: $cn-color-white;
  border: 1px solid $cn-form-border;
  border-radius: $cn-border-radius;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  &:focus {
    outline: 0;
  }
  &.error {
    border-color: $cn-error-color;
  }
}

@mixin form-label {
  font-size: 12px;
  margin-bottom: 5px;
  &.active {
    color: $cn-color-blue;
  }
}