.si-dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .si-dashboard {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
  
    .si-dashboard-column-lg {
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 60%;

      .si-smart-tracker {
        margin-top: 2rem;
      }
    }

    .si-dashboard-column-sm {
      flex-direction: column;
      flex-basis: 40%;
      padding-left: 2rem;
      flex-grow: 1;

      .si-dashboard-watchlist {
        @include skoller-cell;
        padding: 1rem;
        h1 {
          margin: 0;
        }

        table {
          width: 100%;
        }
      }
  
      @media only screen and (max-width: $sk-mobile-break-point) {
        padding-left: 0;
        
        .si-dashboard-watchlist {
          margin-top: 1rem;
        }
      }
    }
  }
}