.si-groups {
  padding: 1rem 0 0 0 ;
  min-width: 900px;
  min-height: calc(100vh - 64px);
  // background-color: #fafafa;
  @include si-table-page;

  .si-groups-header {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .si-groups-header-left {
      flex-grow: 1;
    }
    
    .si-groups-header-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 180px;

      .si-button {
        width: 100%;
        @include sk-standard-button;
        margin-bottom: 8px;
      }
    }
  }

  .si-groups-content {
    .si-groups-table {
      width: 100%;

      .si-groups-table-name {
        min-width: 196px;
        display: flex;
        flex-direction: row;
        margin-top: 6px;

        i {
          color: $sk-blue;
          cursor: pointer;
          padding: 4px;
          margin: -4px;
          border-radius: 5px;

          &:hover {
            @include themed() {
              background-color: t($hover);
            }
          }
        }

        .si-gm {
          margin-left: 24px;
          min-width: 100%;
          white-space: nowrap;

          .action-button {
            color: $sk-blue;
            cursor: pointer;
            padding: 8px 4px 4px 4px;

            p {
              margin: 0;
            }
            
            &:hover {
              @include themed() {
                background-color: t($hover);
              }
            }
          }
        }
      }

      .si-groups-table-sa {
        cursor: pointer;
        border-radius: 5px;
        padding: 8px 4px 2px 4px;
        box-shadow: none;
        transition: linear 100ms;

        &:hover {
          background-color: $sk-blue-25;
          box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
        }
      }
    }
  }
}