.si-student-detail-container {
  margin: 1rem 2rem;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .si-student-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1536px;
    align-items: flex-start;

    .si-student-detail-column {
      display: flex;
      flex-direction: column;
      min-width: 0;

      &:last-child {
        margin-left: 2rem;
      }

      .student {
        flex-basis: calc(50% - 1rem);
        flex-grow: 1;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
        align-items: center;

        .si-student-detail-sa {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;

          .si-student-detail-sa-info {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 1rem;

            .sa-name {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin-top: 4px;
              margin-bottom: -4px;
              align-items: center;

              .watch-toggle-container {
                margin: 0 8px;
              }

              .si-status-indicators {
                margin-bottom: 8px;
              }
            }
            
            .sa-teams {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;

              * {
                margin-right: 4px;
              }
            }
          }
        }

        .si-student-detail-header-right {
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          .si-student-detail-timeframe {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
  
            .looking-at {
              padding: 4px 8px 0 0;
              @include themed() {
                color: t($font-color-50);
              }
            }
          }

          .statuses {
            display: grid;
            gap: 8px;

            div {
              grid-row: 1;
              width: 120px;
              border-radius: 3px;
              color: white;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 6px 2px 0px 2px;

              &.status-classes {
                background-color: $cn-color-yellow;
              }

              &.status-pending {
                background-color: $sk-alert-red;
              }
            }
          }
        }
      }

      .si-student-detail-summary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        font-size: 20px;
        font-weight: 200;
        width: 100%;
        margin: 1rem 0 0 0;

        b {
          margin: 0 6px;
        }
      }

      .contact {
        flex-grow: 1;
        flex-basis: 50%;

        .si-student-detail-contact {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          font-size: 20px;

          .si-copy-cell {
            font-size: 20px;
            textarea {
              font-size: 20px;
            }
          }

          p {
            display: flex;
            margin: 8px 0 0 0;

            i {
              margin-right: 8px;
              margin-top: 2px;
              margin-bottom: -2px;
            }
          }
        }
      }
    }

    .lg {
      flex-basis: 60%;
    }
    .sm {
      flex-basis: 40%;
    }

    .si-student-detail-cell {
      @include si-cell;
      padding: 1rem;
      margin: 0 0 2rem 0;
      width: 100%;
      position: relative;

      h1, h2, h3 {
        margin: 0;
      }

      &.classes {
        .classes-plus {
          color: $sk-blue;
          cursor: pointer;
          margin-left: 8px;
        }
      }

      .si-student-detail-cell-subtitle {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
  }
}