.si-students {
  padding: 1rem 0 0 0 ;
  min-width: 900px;
  min-height: calc(100vh - 64px);
  background-color: #fafafa;

  // dark mode variables
  @include si-table-page;

  .si-students-header {
    margin: 0 1rem 1rem 1rem;
  }

  .si-students-content {
    .si-students-table {
      width: 100%;

      .si-students-timeframe {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .si-select {
          @include si-select;
          flex-grow: 1;

          .sk-select {
            background-color: #ffffff;

            // dark mode variables
            background-color: #ffffff15;

            &:hover {
              background-color: rgba(255, 255, 255, 0.75);

              // dark mode variables
              background-color: #ffffff25;
            }
          }
        }
      }
      
      .si-students-table-sa {
        cursor: pointer;
        border-radius: 5px;
        padding: 8px 4px 2px 4px;
        box-shadow: none;
        transition: linear 100ms;

        &:hover {
          background-color: $sk-blue-25;
          box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
        }
      }
    }
  }
}