.si-students {
  padding: 1rem 0 0 0 ;
  min-width: 900px;
  min-height: calc(100vh - 64px);
  background-color: #fafafa;

  .si-students-header {
    // @include skoller-cell;
    // padding: 1rem;
    margin: 0 1rem 1rem 1rem;
  }

  .si-students-content {
    .si-students-table {
      width: 100%;
    }
  }
}