$bg: 'bg';
$bg-u: 'bg-u';
$hover: 'hover';
$font-color: 'font-color';
$input-p: 'input-p';
$border: 'border';

$themes: (
  default: (
    hover: rgba(0,0,0,0.05),
    bg: white,
    bg-u: white,
    font-color: #4a4a4a,
    input-p: rgba(0,0,0,0.5),
    border: rgba(0,0,0,0.15)
  ),
  dark: (
    hover: rgba(255,255,255,0.05),
    bg: #4a4a4a,
    bg-u: $si-ultra-dark,
    font-color: white,
    input-p: rgba(255,255,255,0.5),
    border: rgba(255,255,255,0.05)
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}