// views
@import 'si-landing.scss';
@import 'si-dashboard.scss';

// components
@import 'si-table.scss';
@import 'si-layout.scss';
@import 'si-nav.scss';
@import 'si-smart-tracker.scss';
@import 'si-sa-card.scss';

// small components that don't need individual scss files
.si-avatar {
  // width: 100%;

  * {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #4a4a4a;
    background-size: cover;
    background-position: center;
    // margin: 0 auto;
  }
}

.si-watch-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    cursor: pointer;
    width: 18px;
    height: auto;
  }

  p {
    font-size: 10px;
    text-align: center;
    margin: -4px 0 -8px 0;
    font-weight: 400;
    background-color: #fafafa;
    border: 1px solid $sk-blue;
    padding: 2px 4px -2px 4px;
    border-radius: 3px;
  }

  .added {
    background-color: #93ffb2;
  }

  .removed {
    background-color: #ffa79e;
  }
}

.si-teams-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 256px;
  margin-bottom: -4px;
  position: relative;

  .team {
    background-color: white;
    border: 1px solid $sk-blue;
    border-radius: 3px;
    padding: 4px 4px 0px 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    // height: 25px;
    cursor: pointer;

    &:hover {
      background-color: $sk-blue-25;
    }
  }

  .add-a-team {
    margin-bottom: 4px;

    .add-team-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      border: 1px solid $sk-blue;
      border-radius: 3px;
      width: 25px;
      height: 25px;
      padding: 5px 0 0 0;
      cursor: pointer;

      &:hover {
        background-color: $sk-blue-50;
      }
    }
  }

  .add-team-search-container {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid $sk-blue-75;
    border-radius: 3px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.04);
    padding: 0.5rem;

    .add-team-search {
      width: 100%;
      min-width: 192px;
      border: none;
      
      &:focus {
        outline: none;
      }
    }

    .team-options-container {
      max-height: 180px;
      overflow-y: hidden;
      overflow: auto;

      .team-option {
        cursor: pointer;
        padding: 6px 0 2px 0;
  
        &:hover {
          background-color: $sk-blue-25;
        }
      }
    }
  }
}

.si-copy-cell {
  @include remove-form-styling;
  box-sizing: border-box;
  width: 100%;
  background-color: #57B9E420;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  background-color: rgba(0,0,0,0);
  padding: 0;

  form {
    width: 100%;
    margin: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;

    .sk-copy-box-short {
      cursor: pointer;
      resize: none;
      width: 100%;
      text-align: left;
      font-family: inherit;
      font-weight: 600;
      font-size: 20px;
      overflow: auto;
      padding: 8px 0 0 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 20px;
      cursor: default;
      color: $sk-blue;

      &:focus {
        outline: none;
      }
    }

    .small-text {
      font-size: 16px;
      font-weight: 500;
    }
  }

  p {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }

  &:hover {
    background-color: $sk-blue-25;
  }
}
