@import 'mixins';
@import 'themes';

// views
@import 'views/si-dashboard.scss';
@import 'views/si-group-detail.scss';
@import 'views/si-groups.scss';
@import 'views/si-landing.scss';
@import 'views/si-organization.scss';
@import 'views/si-settings.scss';
@import 'views/si-student-detail.scss';
@import 'views/si-students.scss';

// components
@import 'components/si-add-classes.scss';
@import 'components/si-bulk-upload.scss';
@import 'components/si-class-list.scss';
@import 'components/si-create-students.scss';
@import 'components/si-email-invites.scss';
@import 'components/si-filter-bar.scss';
@import 'components/si-filter-modal.scss';
@import 'components/si-form.scss';
@import 'components/si-gm.scss';
@import 'components/si-group-settings.scss';
@import 'components/si-layout.scss';
@import 'components/si-nav.scss';
@import 'components/si-org-overview.scss';
@import 'components/si-sa-card.scss';
@import 'components/si-smart-tracker.scss';
@import 'components/si-status-indicators.scss';
@import 'components/si-student-insights.scss';
@import 'components/si-table.scss';
@import 'components/si-tasks-list.scss';
@import 'components/si-teams-cell.scss';
@import 'components/si-toggle.scss';
@import 'components/si-upload-logo.scss';

// hub
@import 'hub/hub-insights-form.scss';

.si-class-detail {
  color: #4a4a4a;
}

// small components that don't need individual scss files
.si-avatar {
  .avatar {
    width: 48px;
    height: 48px;

    &.large {
      width: 110px;
      height: 110px;
    }

    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

    @include themed() {
      background-color: t($font-color-15);
      color: t($font-color);
    }

    span {
      font-size: 18px;
    }
  }
}

.si-watch-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  svg {
    cursor: pointer;
    width: 18px;
    height: auto;
  }

  p {
    font-size: 10px;
    text-align: center;
    margin: -4px 0 -8px 0;
    font-weight: 400;
    background-color: #fafafa;
    border: 1px solid $sk-blue;
    padding: 2px 4px -2px 4px;
    border-radius: 3px;
  }

  .added {
    background-color: #4f8c60;
  }

  .removed {
    background-color: #bd574c;
  }
}

.si-copy-cell {
  @include remove-form-styling;
  box-sizing: border-box;
  width: 100%;
  background-color: #57B9E420;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  background-color: rgba(0,0,0,0);
  padding: 0;

  form {
    width: 100%;
    margin: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;

    .sk-copy-box-short {
      cursor: pointer;
      resize: none;
      width: 100%;
      text-align: left;
      font-family: inherit;
      font-weight: 600;
      font-size: 20px;
      overflow: auto;
      padding: 8px 0 0 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 20px;
      cursor: default;
      color: $sk-blue;

      &:focus {
        outline: none;
      }
    }

    .small-text {
      font-size: 16px;
      font-weight: 500;
    }
  }

  p {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }

  &:hover {
    background-color: $sk-blue-25;
  }
}

.si-select {
  @include si-select;
}

.si-select-option {
  @include si-autocomplete-option;
  font-weight: 400;

  // themed variables
  &:hover {
    @include themed() {
      background: t($hover);
      border-radius: 5px;
    }
  }
}

.sk-modal-container {
  @include themed() {
    background: t($bg);
  }
}

.si-button {
  @include sk-standard-button;
}

.si-action-modal {
  i {
    // color: $sk-blue;
    cursor: pointer;
    padding: 4px;
    margin: -4px;
    border-radius: 5px;

    @include themed() {
      color: t($font-color-50);
    }

    &:hover {
      @include themed() {
        background-color: t($hover);
      }
    }
  }

  .si-gm {
    margin-left: 24px;
    min-width: 100%;
    white-space: nowrap;
    font-style: normal;

    .si-action-modal-item {
      color: $sk-blue;
      cursor: pointer;
      padding: 8px 4px 4px 4px;

      p {
        margin: 0;
      }

      &:hover {
        @include themed() {
          background-color: t($hover);
        }
      }

      &.delete {
        @include themed() {
          color: t($alert-red)
        }
      }
    }
  }
}

main {
  @include themed() {
    color: t($font-color);
  }
}