.si-org-overview {
  box-sizing: border-box;
  @include si-cell;
  padding: 1rem;

  h1 {
    margin: 0;
    text-align: left;
  }

  h2 {
    margin: 0.5rem 0;
    font-weight: 200;
  }

  .si-org-overview-content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

    i {
      font-size: 64px;
    }

    .si-org-overview-category {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;
      border-radius: 10px;
      flex-grow: 1;
      flex-basis: calc(33% - 2rem);
      transform: translateY(0px);
      transition: all 100ms ease-out;
    }
  }
}