.si-status-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .si-status-indicators-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .dot-container {
      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 2px 2px 0 2px;
      }

      .si-si-hover-container {
        position: absolute;
        bottom: 28px;
        width: 144px;
        padding: 8px;
        text-align: center;
        background-color: white;
        z-index: 2;
        word-break: normal;
        @include si-cell;
        box-shadow: 0px 4px 16px rgba(0,0,0,0.12);

        .si-si-hover-content {
          color: #4a4a4a !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
    
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom: 0;
          margin-left: -10px;
          margin-bottom: -10px;
    
          @include themed() {
            border-top-color: t($bg-u);
          }
        }
      }
    }
  
    .no-classes {
      background-color: $sk-blue;
    }
  
    .no-setup {
      background-color: $cn-color-yellow;
    }
  
    .no-account {
      background-color: $sk-alert-red;
    }
  
    &.si-group {
      cursor: default;
      justify-content: flex-end;
  
      .dot-container {
        width: 24px;
        height: 24px;
        margin-right: 4px;
        &:last-child {
          margin: 0;
        }

        .dot {
          width: 24px;
          height: 24px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: white;
          padding: 4px 1px 0 0;
        }
      }
    }
  }
}