.si-smart-tracker {
  box-sizing: border-box;
  min-width: 380px;
  @include skoller-cell;

  @media only screen and (max-width: $sk-mobile-break-point) {
    margin: 0 1rem 1rem 1rem;
    min-width: 0;
  }
  padding: 1rem;

  h1 {
    margin: 0;
    text-align: left;
  }

  .si-smart-tracker-content {
    table {
      width: 100%;

      th, td {
        border: none;
      }

      tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}