// variables
$b: $sk-blue;
$b75: $sk-blue-75;
$b50: $sk-blue-50;
$b25: $sk-blue-25;
$b10: $sk-blue-10;
$b5: $sk-blue-5;

.si-table {
  background-color: white;
  border-collapse: collapse;
  text-align: left;
  word-break: break-all;

  thead {
    background-color: $b50;
  }

  table, th, td {
    border: 1px solid #9f9f9f;
    padding: 4px;
  }

  .si-table-button {
    cursor: pointer;
    padding: 10px 8px 6px 8px;
    margin: -4px;
    color: $sk-blue;
    
    &:hover {
      background-color: $sk-blue-25;
    }

    &:before {
      content: '+ ';
      font-weight: 600;
    }
  }
}

.si-table-header {
  display: flex;
  flex-flow: row wrap;
}