// Reset Mixins ---------------------------------------------------------------
@mixin reset-box-model {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-box-model;
  list-style: none;

  li {  @include reset-box-model; }
}

@mixin reset-focus {
  outline: 0;
}

// Hypertext link mixin
@mixin anchor-text {
  color: $cn-color-blue;
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin anchor-text-invert {
  color: $cn-color-white;
}

// Embed iframes that are truly responsive
@mixin fluid-width-embed {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  height: 0; 
  overflow: hidden;

  embed,
  iframe,
  object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// List helpers and mixins
// TODO this might not be in the most logical place
@mixin unstyled-list {
  list-style: none;
  padding: 0;
}

@mixin col-list {
  display: flex;
  flex-wrap: wrap;

  li {
    box-sizing: border-box;
    flex: 1 0 100%;
  }

  @include breakpoint(medium) {
    li { flex: 1 0 50%; }
  }

  @include breakpoint(large) {
    li { flex: 1 0 33%; }
  }
}

// standard box styling
@mixin skoller-cell {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 8px 15px rgba(0,0,0,.05);
}