// Reset Mixins ---------------------------------------------------------------
@mixin reset-box-model {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-box-model;
  list-style: none;

  li {  @include reset-box-model; }
}

@mixin reset-focus {
  outline: 0;
}

// Hypertext link mixin
@mixin anchor-text {
  color: $cn-color-blue;
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin anchor-text-invert {
  color: $cn-color-white;
}

// Embed iframes that are truly responsive
@mixin fluid-width-embed {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  height: 0; 
  overflow: hidden;

  embed,
  iframe,
  object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// List helpers and mixins
// TODO this might not be in the most logical place
@mixin unstyled-list {
  list-style: none;
  padding: 0;
}

@mixin col-list {
  display: flex;
  flex-wrap: wrap;

  li {
    box-sizing: border-box;
    flex: 1 0 100%;
  }

  @include breakpoint(medium) {
    li { flex: 1 0 50%; }
  }

  @include breakpoint(large) {
    li { flex: 1 0 33%; }
  }
}

// standard box styling
@mixin skoller-cell {
  background-color: white;
  border-radius: $skoller-cell-border-radius;
  box-shadow: 0px 8px 15px rgba(0,0,0,.05);
}

// for forms, remove all the default styling
@mixin remove-form-styling {
  input,
  label,
  select,
  button,
  textarea
  {
    margin:0;
    border:0;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
  }

  /* Remove the stupid outer glow in Webkit */
  input:focus
  {
    outline:0;
  }

  /* Box Sizing Reset
  -----------------------------------------------*/

  /* All of our custom controls should be what we expect them to be */
  input,
  textarea
  {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
  }

  /* These elements are usually rendered a certain way by the browser */
  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select
  {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  /* Button Controls
  -----------------------------------------------*/

  input[type=checkbox],
  input[type=radio]
  {
    width:13px;
    height:13px;
  }

  /* Search Input
  -----------------------------------------------*/

  /* Make webkit render the search input like a normal text field */
  input[type=search]
  {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  ::-webkit-search-decoration
  {
    display:none;
  }

  /* Buttons
  -----------------------------------------------*/

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"]
  {
    /* Fix IE7 display bug */
    overflow:visible;
    width:auto;
  }

  /* IE8 and FF freak out if this rule is within another selector */
  ::-webkit-file-upload-button
  {	
    padding:0;
    border:0;
    background:none;
  }

  /* Textarea
  -----------------------------------------------*/

  textarea 
  {
    /* Move the label to the top */
    vertical-align:top;
    
    /* Turn off scroll bars in IE unless needed */
    overflow:auto;
  }

  /* Selects
  -----------------------------------------------*/

  select
  {

  }

  select[multiple] 
  {
    /* Move the label to the top */
    vertical-align:top;
  }
}

// standard button
@mixin sk-standard-button {
  text-align: center;
  margin: 0 auto;
  // padding: 8px;

  p {
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
    padding: 8px 8px 4px 8px;
    border-radius: 5px;
    background: $cn-color-blue;
    color: white;
    width: 100%;
  }
}

// sammi speech bubble
@mixin sammi-message-right {
  @include skoller-cell;
  max-width: 83%;
  min-height: 36px;
  background: white;
  position: relative;
  border: 1px solid $cn-form-border;
  border-radius: 5px;
  margin: 0 8px 0 0;
  display:flex;
  align-items: center;

  p {
    font-size: 18px;
    margin: 0.25rem 1rem 0rem 1rem;
    padding: 4px 0;
    width: 100%;
    line-height: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: 100%;
    height: 8px;
    width: 8px;
    background: white;
    transform: rotate(-45deg) translate(-50%) translateY(-1px);
    border-radius: 1px;
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit;
  }
}

@mixin sammi-message-left {
  @include skoller-cell;
  max-width: 83%;
  min-height: 36px;
  background: white;
  position: relative;
  border: 1px solid $cn-form-border;
  border-radius: 5px;
  margin: 0 0 0 8px;
  display:flex;
  align-items: center;

  p {
    margin: 0.25rem 1rem 0rem 1rem;
    padding: 4px 0;
    width: 100%;
    line-height: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -8.25px;
    height: 8px;
    width: 8px;
    background: white;
    transform: rotate(135deg) translate(-50%);
    border-radius: 1px;
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit;
  }
}

@mixin onboard-form-field {
  height: 100%;
  min-height: 36px;
  width: 100%;
  border: 1px solid $cn-form-border;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 0 0.5rem 0;
  padding: 8px 4px 6px 4px;
  
  &:focus {
    outline: none;
  }

  @media only screen and (max-height: 568px) {
    max-height: 24px;
    min-height: 0;
    height: 24px;
  }
}

@mixin not-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@mixin hide-scrollbar {
  overflow: auto -moz-scrollbars-none;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}