// Core Variables ------

// CN Branding variables --------
$cn-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$cn-font-color: #4a4a4a;
$cn-color-blue: #57B9E4;
$cn-color-yellow: #FDBA22;
$cn-color-pink: #EA8A8A;
$cn-color-white: #fff;
$cn-color-grey: #a9a9a9;

//CN Web Variables -----------
$cn-color-red: #ff4159;
$cn-color-green: #7ed321;
$cn-primary-background-color: #f5f7f9;
$cn-blue-cell-background: #edf5ff;

$cn-border-radius: 3px;



// Global definition
// of a single unit
$unit-space: 1rem;
$unit-nav-height: 64px;
$unit-side-nav-width: 72px;
$unit-app-width: 800px;
$unit-tab-max-width: 300px;

$primary-font-size: 16px;
