// Core Variables ------

// CN Branding variables --------
$cn-font-family: Calibre, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$cn-font-color: #4a4a4a;
$cn-color-darkgrey: #4a4a4a;
$cn-color-blue: #57B9E4;
$cn-color-yellow: #FDBA22;
$cn-color-pink: #EA8A8A;
$cn-color-white: #fff;
$cn-color-grey: #a9a9a9;
$cn-color-orange: #ff6d00;

//CN Web Variables -----------
$cn-color-red: #ff4159;
$cn-color-green: #7ed321;
$cn-primary-background-color: #f5f7f9;
$cn-blue-cell-background: #edf5ff;
$cn-link-background: rgba(85,185,229,0.2);
$cn-autocomplete-loading-background: $cn-color-white;
$cn-autocomplete-results-background: $cn-color-white;
$cn-form-border: #CCC;

$cn-color-hover-grey: #e9e9e9;

$cn-border-radius: 3px;

$cn-info-color: $cn-color-blue;
$cn-error-color: red;
$cn-error-color-text: $cn-color-white;
$cn-warning-color: $cn-color-pink;
$cn-snackbar-warning: yellow;
$cn-snackbar-warning-text: $cn-font-color;
$cn-snackbar-info: black;
$cn-snackbar-info-text: $cn-color-white;

$triangle-border-width: 2px;
$triangle-width: 7px;
$triangle-inner-width: $triangle-width - 2px;

// Global definition of a single unit
$unit-space: 1rem;
$unit-nav-height: 64px;
$unit-top-nav-height: 32px;
$unit-app-width: 800px;
$unit-tab-max-width: 300px;

$primary-font-size: 16px;
