@import '~react-joyride/lib/react-joyride';
@import 'variables';            // Global variables
@import 'mixins/breakpoint';    // Breakpoint utils lifted from Zurb
@import 'mixins/zf-utils';
@import 'mixins';               // Include global utility mixins

@import 'mixins/button';
@import 'mixins/layout';
@import 'mixins/triangle';
@import 'mixins/typography';


// @import 'mixins/icons';

// Forms ----------------------------------------------------------------------
@import 'forms/mixins/input';
@import 'forms/input-field';
@import 'forms/select-field';
@import 'forms/textarea-field';
// @import 'forms/form';
// @import 'forms/textfield';

// Components ----------------------------
@import 'components/add-class';
@import 'components/autocomplete';
@import 'components/create-class';
@import 'components/file-tab';
@import 'components/file-viewer';
@import 'components/flex-table';
@import 'components/grid';
@import 'components/modal';
@import 'components/navbar';
@import 'components/progress-bar.scss';
@import 'components/search';
@import 'components/sidenav';
@import 'components/upload-history';
@import 'components/upload-documents';
@import 'components/progress-bar.scss';
@import 'components/weight-converter.scss';
@import 'components/verification-code';


// Composed Views ------------------------
@import 'views/diylanding.scss';
@import 'views/hub-accounts.scss';
@import 'views/hub-landing.scss';
@import 'views/hub-schools.scss';
@import 'views/landing.scss';
@import 'views/myclasses.scss';
@import 'views/onboarding.scss';
@import 'views/school-info.scss';
@import 'views/syllabus-tool.scss';
@import 'views/syllabus-tutorial.scss';


html { box-sizing: border-box; }

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  color: $cn-color-blue;
  cursor: pointer;
}

body {
  @include reset-box-model;
  background: $cn-primary-background-color;
  color: $cn-font-color;
  font-family: $cn-font-family;
}

.app {
  padding-top: $unit-nav-height;

  &.public { padding-top: 0; }
  .layout {
    position: fixed;
    top: $unit-nav-height;
    bottom: 0;
    right: 0;
    left: $unit-side-nav-width;
    overflow-x: scroll;

    /* sticky bottom */
    margin-bottom: -160px;
    padding-bottom: 160px;
  }
}

.footer{
  border-top: 1px solid;
  border-top-color: $cn-color-grey;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 100%;
}
//
// Buttons -----------------------------------
.button { @include primary-button; }

.button-invert { @include button-invert; }

.button-delete-x {
  align-items: center;
  align-self: center;
  background-color: #a9a9a9;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 16px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 16px;
  &:hover {
    opacity: 0.7;
  }
}

.full-width { width: 100%;}

.space-between-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

// Links -------------------------------------
.non-styled-link{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
}

// Lists -------------------------------------
.non-styled-list{
  list-style:none;
  padding: 0px;
}

// Colors ------------------------------------
.cn-red {
  color: red;
}

// Margins -----------------------------------
.margin-bottom {
  margin-bottom: $unit-space;
}

.margin-left {
  margin-left: $unit-space;
}

.margin-right {
  margin-right: $unit-space
}

.margin-top {
  margin-top: $unit-space;
}

// Helpers ------------------------------------
.left {
  float: left;
}

.right {
  float: right;
}

.justify-center {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.horizontal-align-row {
  display:flex;
  flex-direction: row;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.center {
    align-items: center;
  }
}
