@import "variables"; // Global variables
@import "mixins/breakpoint"; // Breakpoint utils lifted from Zurb
@import "mixins/zf-utils";
@import "mixins"; // Include global utility mixins
@import "animations";

@import "mixins/button";
@import "mixins/layout";
@import "mixins/triangle";
@import "mixins/landing";
@import "mixins/shadow-box";

@import "fonts";

// Assets ----------------------------------------------------------------------
@import "assets/sk-loader.scss";

// Forms ----------------------------------------------------------------------
@import "forms/mixins/input";
@import "forms/checkbox-field";
@import "forms/date-range-field";
@import "forms/input-field";
@import "forms/multiselect-field";
@import "forms/pill-field";
@import "forms/select-field";
@import "forms/textarea-field";
@import "forms/slider-field";


@import 'components/strikepopup.scss';
@import 'components/add-assignment';
@import 'components/enroll-link-splash';
@import 'components/sk-modal.scss';
@import 'components/assignments';
@import 'components/assignment-categories.scss';
@import 'components/assignment-detail';
@import 'components/assignment-card';
@import 'components/assignment-form.scss';
@import 'components/assignment-table';
@import 'components/admin-assignment-table';
@import 'components/autocomplete';
@import 'components/autocomplete-detail';
@import 'components/calendar';
@import 'components/card';
@import 'components/chat';
@import 'components/chat-post';
@import 'components/checklist.scss';
@import 'components/class-card.scss';
@import 'components/class-cr-card.scss';
@import 'components/common-scale-modal.scss';
@import 'components/completion-circle';
@import 'components/copy-box';
@import 'components/datepicker.scss';
@import 'components/day-selector';
@import 'components/file-tab';
@import 'components/file-viewer';
@import 'components/tabbed-file-upload';
@import 'components/flex-table';
@import 'components/grade-scale';
@import 'components/grid';
@import 'components/hub-assignment-form';
@import 'components/hub-class-with-change-requests';
@import 'components/hub-change-request';
@import 'components/hub-change-request-history';
@import 'components/hub-panel-change-request';
@import 'components/hub-professor';
@import 'components/hub-weight-form';
@import 'components/hub-weights';
@import 'components/insights-semester';
@import 'components/insights-key';
@import 'components/insights-progress';
@import 'components/job-cell';
@import 'components/job-detail';
@import 'components/jobs-form.scss';
@import 'components/jobs-list';
@import 'components/jobs-experience.scss';
@import 'components/jobs-switch.scss';
@import 'components/jobs-avatar-modal.scss';
@import 'components/jobs-welcome-modal.scss';
@import 'components/landing-banner.scss';
@import 'components/login-verification.scss';
@import 'components/modal';
@import 'components/navbar';
@import 'components/nested-nav';
@import 'components/professor';
@import 'components/progress-bar.scss';
@import 'components/sammi.scss';
@import 'components/sammi-prompt.scss';
@import 'components/search';
@import 'components/see-more';
@import 'components/shadow-box';
@import 'components/share-classes';
@import 'components/share-no-classes';
@import 'components/share-scoreboard-modal';
@import 'components/sk-add-class-modal.scss';
@import 'components/sk-class-assignments.scss';
@import 'components/sk-assignment.scss';
@import 'components/sk-banner.scss';
@import 'components/sk-class-status-modal.scss';
@import 'components/sk-drag-and-drop.scss';
@import 'components/sk-drop-class-button.scss';
@import 'components/sk-enroll-download.scss';
@import 'components/sk-enroll-link.scss';
@import 'components/sk-enroll-login.scss';
@import 'components/sk-form';
@import 'components/sk-select.scss';
@import 'components/sk-select-school.scss';
@import 'components/sk-find-class-form.scss';
@import 'components/sk-major-form.scss';
@import 'components/sk-onboard-first-class.scss';
@import 'components/sk-onboard-share-partner.scss';
@import 'components/sk-onboard-sign-up.scss';
@import 'components/sk-onboard-sign-up-form.scss';
@import 'components/sk-org-invitation.scss';
@import 'components/sk-pop-up';
@import 'components/sk-progress-modal';
@import 'components/sk-select-dropdown';
@import 'components/sk-share-partner-link';
@import 'components/sk-tasks-list';
@import 'components/sk-upload-additional-docs.scss';
@import 'components/sk-upload-overload-docs.scss';
@import 'components/sign-up-form';
@import 'components/speculate-tool';
@import 'components/time-fields';
@import 'components/topnav';
@import 'components/tooltip';
@import 'components/snackbar';
@import 'components/student-request-modal';
@import 'components/upload-history';
@import 'components/upload-documents';
@import 'components/weight-converter.scss';
@import 'components/verification-code';
@import 'components/weights';
@import 'components/weight-form';
@import 'components/weight-table';
@import 'components/weight-type';
@import 'components/student-nav';
@import 'components/student-layout';
@import 'components/home';
@import 'components/home-classes';
@import 'components/home-jobs';
@import 'components/home-share';
@import 'components/tasks';
@import 'components/task-card';
@import "components/add-assignment";
@import "components/enroll-link-splash";
@import "components/sk-modal.scss";
@import "components/assignments";
@import "components/assignment-categories.scss";
@import "components/assignment-detail";
@import "components/assignment-card";
@import "components/assignment-form.scss";
@import "components/assignment-table";
@import "components/admin-assignment-table";
@import "components/autocomplete";
@import "components/autocomplete-detail";
@import "components/calendar";
@import "components/card";
@import "components/chat";
@import "components/chat-post";
@import "components/checklist.scss";
@import "components/class-card.scss";
@import "components/class-cr-card.scss";
@import "components/common-scale-modal.scss";
@import "components/completion-circle";
@import "components/copy-box";
@import "components/datepicker.scss";
@import "components/day-selector";
@import "components/file-tab";
@import "components/file-viewer";
@import "components/tabbed-file-upload";
@import "components/flex-table";
@import "components/grade-scale";
@import "components/grid";
@import "components/hub-assignment-form";
@import "components/hub-class-with-change-requests";
@import "components/hub-change-request";
@import "components/hub-change-request-history";
@import "components/hub-panel-change-request";
@import "components/hub-professor";
@import "components/hub-weight-form";
@import "components/hub-weights";
@import "components/insights-semester";
@import "components/insights-key";
@import "components/insights-progress";
@import "components/job-cell";
@import "components/job-detail";
@import "components/jobs-form.scss";
@import "components/jobs-list";
@import "components/jobs-experience.scss";
@import "components/jobs-switch.scss";
@import "components/jobs-avatar-modal.scss";
@import "components/jobs-welcome-modal.scss";
@import "components/landing-banner.scss";
@import "components/login-verification.scss";
@import "components/modal";
@import "components/navbar";
@import "components/nested-nav";
@import "components/professor";
@import "components/progress-bar.scss";
@import "components/sammi.scss";
@import "components/sammi-prompt.scss";
@import "components/search";
@import "components/see-more";
@import "components/shadow-box";
@import "components/share-classes";
@import "components/share-no-classes";
@import "components/share-scoreboard-modal";
@import "components/sk-add-class-modal.scss";
@import "components/sk-class-assignments.scss";
@import "components/sk-assignment.scss";
@import "components/sk-banner.scss";
@import "components/sk-class-status-modal.scss";
@import "components/sk-drag-and-drop.scss";
@import "components/sk-drop-class-button.scss";
@import "components/sk-enroll-download.scss";
@import "components/sk-enroll-link.scss";
@import "components/sk-enroll-login.scss";
@import "components/sk-form";
@import "components/sk-select.scss";
@import "components/sk-select-school.scss";
@import "components/sk-find-class-form.scss";
@import "components/sk-major-form.scss";
@import "components/sk-onboard-first-class.scss";
@import "components/sk-onboard-share-partner.scss";
@import "components/sk-onboard-sign-up.scss";
@import "components/sk-onboard-sign-up-form.scss";
@import "components/sk-org-invitation.scss";
@import "components/sk-pop-up";
@import "components/sk-progress-modal";
@import "components/sk-select-dropdown";
@import "components/sk-share-partner-link";
@import "components/sk-tasks-list";
@import "components/sk-upload-additional-docs.scss";
@import "components/sk-upload-overload-docs.scss";
@import "components/sign-up-form";
@import "components/speculate-tool";
@import "components/time-fields";
@import "components/topnav";
@import "components/tooltip";
@import "components/snackbar";
@import "components/student-request-modal";
@import "components/upload-history";
@import "components/upload-documents";
@import "components/weight-converter.scss";
@import "components/verification-code";
@import "components/weights";
@import "components/weight-form";
@import "components/weight-table";
@import "components/weight-type";
@import "components/student-nav";
@import "components/student-layout";
@import "components/home";
@import "components/home-classes";
@import "components/home-jobs";
@import "components/home-share";
@import "components/tasks";
@import "components/task-card";
@import "components/home-new-class";


@import "views/mixins/onboarding.scss";
@import "views/account-info.scss";
@import "views/analytics.scss";
@import "views/assignment-admin.scss";
@import "views/call-to-action.scss";
@import "views/class-admin.scss";
@import "views/class-detail.scss";
@import "views/class-assignments.scss";
@import "views/class-form.scss";
@import "views/class-link.scss";
@import "views/class-list.scss";
@import "views/class-invite-link.scss";
@import "views/create-professor-modal.scss";
@import "views/create-school-modal.scss";
@import "views/enrollment-link.scss";
@import "views/faq.scss";
@import "views/find-classes.scss";
@import "views/forgot-password.scss";
@import "views/hub-accounts.scss";
@import "views/hub-admin-login.scss";
@import "views/hub-classes.scss";
@import "views/hub-insights.scss";
@import "views/hub-landing.scss";
@import "views/hub-schools.scss";
@import "views/insights";
@import "views/jobs-home.scss";
@import "views/jobs-profile.scss";
@import "views/jobs-browse.scss";
@import "views/landing-footer.scss";
@import "views/landing-nav.scss";
@import "views/landing.scss";
@import "views/learn-more.scss";
@import "views/meeting-time-modal.scss";
@import "views/myclasses.scss";
@import "views/onboarding.scss";
@import "views/people-talking.scss";
@import "views/pitch-deck.scss";
@import "views/onboard.scss";
@import "views/our-team.scss";
@import "views/privacy-policy.scss";
@import "views/project-four-door.scss";
@import "views/school-info.scss";
@import "views/school-search.scss";
@import "views/share.scss";
@import "views/sign-up.scss";
@import "views/sk-class.scss";
@import "views/skip-category-modal.scss";
@import "views/student-list.scss";
@import "views/student-problems-modal.scss";
@import "views/student-request-info.scss";
@import "views/submit-syllabi.scss";
@import "views/switchboard.scss";
@import "views/syllabus-tool.scss";
@import "views/unsubscribe.scss";
@import "views/user-agreement.scss";
@import "views/verification.scss";


@import "si-insights/main.scss";

html {
  box-sizing: border-box;
}

.layout {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  color: $cn-color-blue;
  cursor: pointer;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.link-style {
  color: $cn-color-blue;
  cursor: pointer;
}

body {
  @include reset-box-model;
  background: $cn-primary-background-color;
  color: $cn-font-color;
  font-family: $cn-font-family;
  line-height: 1.2;
  transition: background-color 300ms;

  h1 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.app {
  padding-top: $unit-nav-height;

  &.public {
    padding-top: 0;
  }
  .layout {
    position: fixed;
    top: $unit-nav-height + $unit-top-nav-height;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.footer {
  border-top: 1px solid;
  border-top-color: $cn-color-grey;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 100%;
}
//
// Buttons -----------------------------------
.button {
  @include primary-button;
}

.button-invert {
  @include button-invert;
}

.button-delete-x {
  align-items: center;
  align-self: center;
  background-color: #a9a9a9;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 14px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 14px;

  &:hover {
    opacity: 0.7;
  }
}

.button-delete-x-light {
  align-items: center;
  align-self: center;
  background-color: #ffffff;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 17px;
  width: 17px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    opacity: 0.7;
  }
}

.button-fixed {
  width: 100%;
  max-width: 200px;
}

.full-width {
  width: 100%;
}

.space-between-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

// Links -------------------------------------
.non-styled-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

// Lists -------------------------------------
.non-styled-list {
  list-style: none;
  padding: 0px;
}
// Cursor -----------------------------------
.cursor {
  cursor: pointer;
}
// Colors ------------------------------------
.cn-blue {
  color: $cn-color-blue;
}

.cn-red {
  color: red;
}

.cn-yellow {
  color: $cn-color-yellow;
}

.cn-red-background {
  background-color: red;
  &:hover {
    background-color: lighten(red, 15%);
  }
}

.cn-red-background-alt {
  background-color: red !important;
  color: white;
  &:hover {
    background-color: lighten(red, 15%) !important;
  }
}

.cn-green {
  color: $cn-color-green;
}

.cn-green-background {
  background-color: #00c000;
  &:hover {
    background-color: lighten(#00c000, 5%);
  }
}

.cn-grey {
  color: $cn-color-grey;
}

.cn-grey-background {
  background-color: $cn-color-grey;
}

.cn-orange {
  color: $cn-color-orange;
}

.cn-orange-background {
  background-color: $cn-color-orange;
}

// Margins -----------------------------------
.margin-bottom {
  margin-bottom: $unit-space;
}

.margin-left {
  margin-left: $unit-space;
}

.margin-right {
  margin-right: $unit-space;
}

.margin-top {
  margin-top: $unit-space;
}

.margin-zero {
  margin: 0;
}

// Helpers ------------------------------------
.left {
  float: left;
}

.right {
  float: right;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center-self {
  justify-self: center;
}

.align-center-self {
  align-self: center;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.horizontal-align-row {
  display: flex;
  flex-direction: row;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.center {
    align-items: center;
  }
}

.underline {
  text-decoration: underline;
}

.relative {
  position: relative;
}

.cn-total-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.web-only {
  @media only screen and (max-width: 760px) {
    display: none;
  }
}

.cn-icon-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cn-space-between-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cn-align-row {
  display: flex;
  align-items: center;
}

.cn-lightning {
  padding-top: 3px;
  margin-right: 2px;
}

.sk-select-option {
  cursor: pointer;
  padding: 4px;

  &:hover {
    background-color: $cn-color-hover-grey;
  }
}

.sk-select-selection {
  cursor: pointer;
  margin-top: 4px;
  padding: 2px 0 0 0;
  color: $sk-blue;
  font-weight: 600;
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #57B9E4;
  border-color: #57B9E4;
}


.sborder-1{ border: 1px solid #ddd }
.sborder-danger{ border-color: #EF193E; }
.stext-danger{ color: #EF193E; }
.sbg-danger{ background: #EF193E; }

.stext-white{ color: #fff; }

.sborder-purple{ border-color: #DE89F6; }
.stext-purple{ color: #DE89F6; }
.sbg-purple{ background: #DE89F6; }

.sborder-green{ border-color: #61D8A0; }
.stext-green{ color: #61D8A0; }
.sbg-green{ background: #61D8A0; }

.sborder-darkpink{ border-color: #D73E76; }
.stext-darkpink{ color: #D73E76; }
.sbg-darkpink{ background: #D73E76; }

.sborder-orange{ border-color: #F1AA3A; }
.stext-orange{ color: #F1AA3A; }
.sbg-orange{ background: #F1AA3A; }

.sborder-dark{ border-color: #555555; }
.stext-dark{ color: #555555; }
.sbg-dark{ background: #555555; }


.sborder-light{ border-color: #C7C7CC; }
.stext-light{ color: #C7C7CC; }
.sbg-light{ background: #C7C7CC; }

.sborder-lgray{ border-color: #A4A4A8; }
.stext-lgray{ color: #A4A4A8; }
.sbg-lgray{ background: #A4A4A8; }

.text-center {
  text-align: center;
}

.group-list a{ color: #5CBBE5;}
