.cn-input-container {
  &.margin-bottom {
    margin-bottom: 0.5em;
  }
  &.margin-top {
    margin-top: 0.5em;
  }
  &.active {
  }
  &.error {
  }
  .cn-form-checkbox {
    border: 0;
    &.error {
      border: 1px solid red;
    }
  }
  .cn-checkbox-label {
    @include form-label;
  }
}
