.cn-input-container {
  .cn-form-checkbox {
    border: 0;
    &.error {
      outline: 1px solid $cn-error-color;
    }
  }
  .cn-checkbox-label {
    @include form-label;
  }
  .cn-big-checkbox {
    height: 2em;
    width: 2em;
  }
}
