.cn-input-container {
  &.margin-top {
    margin-top: 0.5em;
  }
  &.active {

  }
  &.error {
  }
  .cn-form-select {
    @include form-element;
    border: 0;
    &.error {
      border: 1px solid red;
    }
  }
  .cn-input-label {
    @include form-label;
  }
}
