.cn-input-container {
  &.margin-top {
    margin-top: 0.5em;
  }
  &.active {

  }
  &.error {

  }
  .cn-form-select {
    @include form-element;
    border: 0;
    outline: 1px solid #CCC;
  }
  .cn-input-label {
    @include form-label;
  }
}
