.cn-input-container {
  &.margin-top {
    margin-top: 0.5em;
  }
  &.active {

  }
  &.error {

  }
  .cn-form-select {
    background-color: #fff;
    border: 0;
    border-radius: 0px;
    outline: 1px solid #CCCCCC;
    height: 32px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    &:focus {
      outline: 0;
    }
    &.active {
    }
    &.error {

    }
  }
  .cn-input-label {
    font-size: 12px;
    margin-bottom: 5px;
    &.active {
      color: $cn-color-blue;
    }
    &.error {

    }
  }
}
