@mixin section-marketing {
  padding: 4rem 0;

  h2 { color: $cn-color-white; }

  & > .content {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

  .section-header {
    line-height: 1.25;
    margin-bottom: 2rem;
    max-width: 1440px;
    padding: 0 2rem;
    text-align: center;
    width: 100%;

    .muted {
      margin-left: .25em;
      display: inline;
      font-size: .85em;
      font-weight: 300;
      width: 100%;

      @include breakpoint(medium) {
        display: inline-block;
        font-size: .6em;
      }
    }

    @include breakpoint(large) {
      text-align: left;
      line-height: 1;
      max-width: 1020px;
    }
  }
}

@mixin slant {
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));

  &::before {
    background: inherit;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    content: '';
    display: block;
    height: 4rem;
    left: 0;
    position: absolute;
    right: 0;
    top: .5px;
    transform: translate(0, -100%);
    z-index: -1;
  }
}
