@mixin button-reset {
  @include reset-box-model;
  border: 0;
  font-family: $cn-font-family;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: none;

  &:hover { cursor: pointer; }
}

@mixin button {
  @include button-reset;
  border-radius: $cn-border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding: .5em .5em 0.25em;

  &:focus { outline: none; }
}

@mixin disabled {
  &.disabled {
    background-color: #d3d3d3 !important;
    color: $cn-font-color !important;
  }
}

@mixin primary-button {
  @include button;
  background-color: $cn-color-blue;
  color: $cn-color-white;
  &:hover { background-color: lighten($cn-color-blue, 10); }
  @include disabled;
}

@mixin button-invert {
  @include button;
  background-color: $cn-color-white;
  color: $cn-color-blue;
  &:hover { background-color: darken($cn-color-white, 10); }
  @include disabled;
}

@mixin button-lg {
  font-size: 1.5em;
  padding: 1.25em 1em 1em;
}
