@mixin shadow-box {
  background-color: $cn-color-white;
  border-radius: 8px;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

@mixin shadow-box-content {
  padding: $unit-space;
}

@mixin shadow-box-title {
  border-bottom: 2px solid black;
  font-size: 24px;
  font-weight: 600;
}